.accordion-item {
  border-bottom: 0.125rem solid var(--teal);
}
.accordion-header {
  padding: var(--spacing-s);
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--teal);
}
.accordion-content {
  font-size: var(--main-font-size);
}
.accordion-content,
.accordion-sub-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
.accordion-content h4 {
  padding-bottom: var(--spacing-s);
  font-size: 1.1875rem;
  line-height: 1.26;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--teal);
}
.accordion-sub-content > * {
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}
.accordion-sub-content .accordion-sub-content {
  padding-top: var(--spacing-s);
  padding-bottom: 0;
}
.accordion-sub-content .accordion-sub-content > * {
  padding-left: 0;
  padding-right: 0;
}