.alert {
  padding: 1.125rem 1.625rem;
  display: flex;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: var(--alert-general-border);
  background-color: var(--alert-general-bg);
  color: var(--alert-general-text);
  border-radius: var(--border-radius-xs);
  font-size: var(--alert-font-size);
}
.alert:before {
  margin-right: var(--spacing-m);
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  flex-shrink: 0;
}
div[class*="alert-"]:before {
  content: "";
}
.alert:not(.alert-longform) {
  align-items: center;
  line-height: 1.25;
}
.alert-longform {
  line-height: 1.6;
}
.alert-longform strong:first-child {
  display: block;
}
.alert-longform:before {
  margin-top: 0.125rem;
}
 
.alert-info {
  background-color: var(--alert-info-pale);
  color: var(--alert-info-dark);
  border-color: var(--alert-info-border);
}
.alert-info:before {
  background-image: url(../icons/alerts/info.svg);
}

.alert-success {
  background-color: var(--alert-success-pale);
  color: var(--alert-success-dark);
  border-color: var(--alert-success-border);
}
.alert-success:before {
  background-image: url(../icons/alerts/success.svg);
}

.alert-warning {
  background-color: var(--alert-warning-pale);
  color: var(--alert-warning-dark);
  border-color: var(--alert-warning-border);
}
.alert-warning:before {
  width: 1.4375rem;
  background-image: url(../icons/alerts/warning.svg);
}

.alert-danger {
  background-color: var(--alert-danger-pale);
  color: var(--alert-danger-dark);
  border-color: var(--alert-danger-border);
}
.alert-danger:before {
  background-image: url(../icons/alerts/danger.svg);
}

.alert-longform p + p {
  margin-top: var(--spacing-s);
}