.badge {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  padding: 1px var(--spacing-xs);
  border-radius: var(--border-radius-s);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}
.badge i {
  line-height: 1;
}
.badge-gray {
  background-color: var(--gray-light);
  color: var(--med-gray-dark);
}
.badge-primary {
  background-color: var(--cadet-pale);
  color: var(--teal);
}
.badge-primary i {
  color: var(--teal-dark);
}
.badge-red {
  background-color: var(--alert-danger-pale);
  color: var(--alert-danger-dark);
}
.badge-red i {
  color: var(--alert-danger);
}
.badge-orange {
  background-color: var(--alert-warning-pale);
  color: var(--alert-warning-dark);
}
.badge-orange i {
  color: var(--alert-warning);
}
.badge-green {
  background-color: var(--alert-success-pale);
  color: var(--alert-success-dark);
}
.badge-green i {
  color: var(--alert-success);
}
.badge-blue {
  background-color: var(--alert-info-pale);
  color: var(--alert-info-dark);
}
.badge-blue i {
  color: var(--alert-info);
}
.badge-purple {
  background-color: var(--purple-pale);
  color: var(--purple-dark);
}
.badge-purple i {
  color: var(--purple);
} 
