.btn {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: inline-flex;
  gap: var(--spacing-xxs);
  align-items: center;
  justify-content: center;
  min-width: 93px;
  height: 2.3125rem;
  border-width: 0.0625rem;
  border-style: solid;
  font-size: var(--middle-font-size);
  font-weight: 600;
  text-decoration: none;
  border-radius: var(--border-radius-xs);
  transition: all 0.3s;
  outline: none;
  flex-shrink: 0;
  cursor: pointer;
}
.btn:focus {
  box-shadow: var(--shadow-focus);
}
.btn[disabled]:hover {
  cursor: default;
}
.btn-long {
  min-width: 140px;
}

.btn-primary,
.btn-primary:not([disabled]):focus {
  background-color: var(--teal-dark);
  border-color: var(--teal-dark);
  color: var(--white);
}
.btn-primary:hover {
  background-color: var(--dark-teal-dark);
  border-color: var(--dark-teal-dark);
  color: var(--white);
}
.btn-secondary,
.btn-secondary:not([disabled]):focus {
  background-color: transparent;
  border-color: var(--teal);
  color: var(--teal);
  border-width: 0.125rem;
}
.btn-secondary:hover {
  background-color: var(--teal);
  color: var(--white);
}
.btn-secondary[disabled],
.btn-secondary-white[disabled] {
  background-color: transparent;
  color: var(--alert-disabled);
  border-color: var(--alert-disabled);
}

.btn-secondary-white,
.btn-secondary-white:not([disabled]):focus {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
  border-width: 0.125rem;
}
.btn-secondary-white:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--white);
}

.btn-tertiary,
.btn-tertiary:not([disabled]):focus {
  background-color: var(--teal-pale);
  border-color: var(--white);
  color: var(--dark-teal-dark);
}
.btn-tertiary:hover {
  background-color: var(--teal-pale);
  color: var(--black);
}

.btn-black,
.btn-black:not([disabled]):focus {
  background-color: var(--dark-teal-dark);
  border-color: var(--white);
  color: var(--white);
}
.btn-black:hover {
  background-color: var(--teal);
  color: var(--white);
}

.btn-white,
.btn-white:not([disabled]):focus {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--teal);
}
.btn-white:hover {
  background-color: var(--light-grass-light);
  color: var(--teal);
}
.btn-white[disabled] {
  background-color: var(--white);
  opacity: 0.7;
}

.btn-destructive,
.btn-destructive:not([disabled]):focus {
  background-color: var(--alert-danger);
  border-color: var(--white);
  color: var(--white);
}
.btn-destructive:hover {
  background-color: var(--alert-danger-dark);
  color: var(--white);
}

.btn-card {
  height: 2.75rem;
}

.btn-warning,
.btn-warning:not([disabled]):focus,
.btn-card:not([disabled]):focus {
  background-color: var(--alert-warning);
  border-color: var(--white);
  color: var(--black);
}
.btn-warning:hover,
.btn-card:hover {
  background-color: var(--alert-warning-dark);
  color: var(--white);
}

.btn-warning[disabled],
.btn-destructive[disabled],
.btn-black[disabled],
.btn-tertiary[disabled],
.btn-primary[disabled],
.btn-card[disabled] {
  background-color: var(--alert-disabled);
  color: var(--white);
  border-color: var(--alert-disabled);
}

.btn-card {
  border-color: var(--orange-dark);
  background-color: var(--orange-dark);
  color: var(--white);
}

.btn-simple:not([disabled]):hover {
  background-color: var(--gray-pale);
}
.btn-simple,
.btn-simple:not([disabled]):focus {
  background-color: transparent;
  border-color: var(--gray);
  color: var(--med-gray-dark); 
  font-weight: 500;
}

.btn-simple[disabled] {
  border-color: transparent;
  color: var(--alert-disabled);
}

.btn-icon {
  border: none;
  background-color: transparent;
  padding: 0.625rem;
  min-width: inherit;
  font-size: 1.125rem;
  color: var(--med-gray);
}

.enroll-now-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--main-font-size);
  color: var(--teal);
  background-color: var(--light-grass-light);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
  flex-shrink: 0;
}
.enroll-now-btn:after {
  content: "";
  position: absolute;
  top: var(--spacing-xxs);
  bottom: var(--spacing-xxs);
  left: var(--spacing-xxs);
  right: var(--spacing-xxs);
  border: 0.0625rem solid var(--teal);
  border-radius: 50%;
}
.enroll-now-btn:before {
  content: "";
  position: absolute;
  top: 1.125rem;
  bottom: 1.125rem;
  left: 1.75rem;
  right: 1.75rem;
  border-top: 0.125rem solid var(--teal);
  border-bottom: 0.125rem solid var(--teal);
}
.enroll-now-btn:hover {
  background-color: var(--white);
}
.enroll-now-btn:focus {
  box-shadow: var(--shadow-focus);
}
.enroll-now-btn[disabled] {
  background-color: var(--alert-disabled-light);
  color: var(--alert-disabled-dark);
  cursor: default;
  opacity: 0.6;
}
.enroll-now-btn[disabled]:after,
.enroll-now-btn[disabled]:before {
  border-color: var(--alert-disabled-dark);
}

.inline-link,
.internal-link,
.external-link,
.btn-text-only {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  color: var(--teal-dark);
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  line-height: 1.5;
  font-size: var(--main-font-size);
  flex-shrink: 0;
  outline: none;
}
.inline-link.text-gray,
.internal-link.text-gray,
.external-link.text-gray,
.btn-text-only.text-gray {
  color: var(--med-gray);
}
.inline-link.text-white,
.internal-link.text-white,
.external-link.text-white,
.btn-text-only.text-white {
  color: var(--white);
}
.inline-link.text-black,
.internal-link.text-black,
.external-link.text-black,
.btn-text-only.text-black {
  color: var(--black);
}

.internal-link.text-white:hover {
  color: var(--white);
  opacity: 0.75;
}

.inline-link:hover,
.internal-link:hover,
.external-link:hover,
.btn-text-only:hover {
  color: var(--teal);
}

.inline-link:focus,
.internal-link:focus,
.external-link:focus,
.btn-text-only:focus {
  color: var(--teal-dark);
  border-bottom: 0.0625rem solid var(--cadet-light);
}

.inline-link:visited,
.internal-link:visited,
.external-link:visited,
.btn-text-only:visited {
  color: var(--teal-dark);
}

.inline-link:visited:hover,
.internal-link:visited:hover,
.external-link:visited:hover,
.btn-text-only:visited:hover {
  color: var(--teal-dark);
}

.external-link:after,
.internal-link:after,
.btn-text-only:before {
  width: var(--spacing-s);
  height: var(--spacing-s);
  font-family: 'Font Awesome 6 Free';
  font-weight: 400; 
  line-height: 1;
}
.external-link:after {
  content: "\f08e";
}
.internal-link:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%2302786E'/></svg>");
  transition: all 0.3s;
}
.internal-link.text-white:after,
.internal-link.text-white:visited:hover:after,
.internal-link.text-white:hover:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%23FFFFFF'/></svg>");
}
.internal-link.text-black:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%23000000'/></svg>");
}
.internal-link:visited:hover:after,
.internal-link:hover:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%230A5B58'/></svg>");
}
.btn-text-only:before {
  content: "\f019";
}

.inline-link:after,
.external-link:before,
.internal-link:before,
.btn-text-only:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 0.0625rem solid var(--cadet-light);
  opacity: 0;
}
.inline-link:after {
  border-top-color: var(--teal-dark);
}
.location-link:focus {
  color: var(--teal-dark);
}

.inline-link:focus:after,
.external-link:focus:before,
.internal-link:focus:before,
.btn-text-only:focus:after {
  opacity: 1;
}

.location-link {
  color: var(--med-gray-dark);
  font-weight: 500;
  font-size: 0.8125rem;
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
  text-decoration: none;
  line-height: 1;
}
.location-link.text-teal-dark {
  color: var(--teal-dark);
}
.location-link.text-white {
  color: var(--white);
}
.location-link:before {
  content: "\f3c5";
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  width: 0.6875rem;
}
.location-link:hover {
  color: var(--teal);
}

.btns-group {
  display: flex;
  gap: var(--spacing-s);
}
.btns-group.vertical {
  flex-direction: column;
}
.btns-group.center {
  justify-content: center;
}
.btns-group.right {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .btn:not(.btn-simple) {
    height: 2.75rem;
  }
}

