@keyframes pulse {
  0% {
    font-size: var(--big-font-size);
    opacity: 1;
  }
  100% {
    font-size: var(--extra-small-font-size);
    opacity: 0;
  }
}
@keyframes pulse-full {
  0% {
    opacity: 0;
    font-size: var(--extra-small-font-size);
  }
  1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    font-size: 1.25rem;
  }
  100% {
    opacity: 1;
    font-size: var(--big-font-size);
  }
}
@keyframes pulse-shadow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.card-simple {
  width: 100%;
  background-color: var(--white);
  border-radius: var(--border-radius-xs);
  color: var(--med-gray-dark);
}
.card-simple:not(.no-shadow) {
  box-shadow: var(--shadow-l);
}
.card-simple.card-small .card-simple-body {
  padding: var(--spacing-m) var(--spacing-s);
  gap: var(--spacing-l);
}
.card-simple.card-simple-no-media .card-simple-body {
  padding: 2.75rem var(--spacing-l);
  gap: var(--spacing-l);
}
.card-simple-body.card-spacing-s {
  padding: var(--spacing-l) var(--spacing-m);
}
.card-simple-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.card-simple.text-center .card-simple-body,
.card-simple.text-center .card-spacing-xs {
  align-items: center;
}

.card-simple .form-group {
  max-width: inherit;
  width: 100%;
}
.card-simple .card-headline,
.card-simple .card-preheadline {
  color: var(--med-gray);
}
.card-simple-media {
  background-color: var(--gray-pale);
  border-radius: var(--border-radius-xs) var(--border-radius-xs) 0 0;
  overflow: hidden;
}
.card-simple img {
  display: block;
}
.card-simple .row {
  width: 100%;
}

.card-spacing-xs,
.card-spacing-s,
.card-spacing-m,
.card-spacing-l {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-spacing-xs {
  gap: var(--spacing-xs);
}
.card-spacing-s {
  gap: var(--spacing-s);
}
.card-spacing-m {
  gap: var(--spacing-m);
}
.card-spacing-l {
  gap: var(--spacing-l);
  align-items: center;
}
.card-simple ul {
  margin: 0;
  padding: 0 0 0 0.875rem;
}
.card-list {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.card-location {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: var(--med-gray-dark);
}
.card-location-icon {
  flex-shrink: 0;
  color: var(--teal);
  font-size: 1.5rem;
}
.card-location a,
.card-location strong {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  line-height: 1;
  letter-spacing: -0.01em;
}

@media (min-width: 769px) {
  .card-simple.card-small {
    max-width: 237px;
  }
  .card-simple:not(.card-small) {
    max-width: 432px;
  }
}

/***** Plan *****/

.card-plan {
  background-color: var(--white);
  border-radius: var(--border-radius-s);
  box-shadow: var(--shadow-m);
  overflow: hidden;
}
.card-plan.card-small {
  max-width: 400px;
}
.card-plan:not(.card-small) {
  max-width: 600px;
}
.card-plan-header {
  padding: 1.375rem 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  border-radius: var(--border-radius-s) var(--border-radius-s) 0 0;
}
.card-plan-header img {
  display: block;
  max-height: 3.4375rem;
  width: auto;
}
.card-plan-banner {
  padding: var(--spacing-xs) var(--spacing-m);
  background-color: var(--yellow);
  color: var(--black);
  text-align: center;
}
.card-plan-prices {
  display: flex;
}
.card-plan-price {
  flex: 1;
}
.card-plan-price-val {
  margin-top: var(--spacing-xxs);
  font-family: "Fraunces", serif;
  letter-spacing: -0.05em;
  line-height: 1.2;
  font-size: 1.75rem;
  font-weight: 700;
}
.card-plan sup,
.card-plan sub {
  font-size: 0.57em;
}
.card-plan sub {
  line-height: 1;
  position: relative;
  top: -0.4375rem;
}
.card-plan-details {
  border-top: 0.0625rem solid var(--gray-light);
  border-bottom: 0.0625rem solid var(--gray-light);
}
.card-plan-headline {
  margin-bottom: var(--spacing-m);
  font-weight: 400;
  display: inline-flex;
  gap: var(--spacing-s)
}
.card-plan-prices {
  padding-left: var(--spacing-m);
  padding-right: var(--shadow-m);
}
.card-plan-details,
.card-plan-footer {
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);
}
.card-plan-price {
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}
.card-plan-price,
.card-plan-details {
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}
.card-plan-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-top: 0.125rem solid var(--gray-light);
}
.card-plan .list-content li {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}
.card-plan .list-content li:first-child {
  padding-top: 0;
}
.card-plan .list-content li:last-child {
  padding-bottom: 0;
}
.card-plan .list-content strong {
  font-weight: 700;
}


/***** Doctor *****/

.card-doctor {
  position: relative;
  padding: var(--spacing-m);
  background-color: var(--results-list-bg);
  box-shadow: var(--shadow-m);
  border-radius: 0.75rem;
  display: flex;
  gap: var(--spacing-s);
}
.card-doctor h3 {
  color: var(--med-gray-dark);
}
.card-doctor-personal-info {
  flex: 1;
}
.card-doctor-number {
  min-width: 40px;
  flex-shrink: 0;
}
.card-doctor-name {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-s);
}
.card-doctor-name.vertical {
  flex-direction: column;
}
.card-doctor-labels {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--middle-font-size);
  color: var(--med-gray-dark);
  cursor: pointer;
}
.card-doctor-favorite {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.card-doctor-favorite-icon {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
}
.card-doctor-favorite .favorite-icon,
.card-doctor-favorite .favorite-icon-full {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-doctor-favorite .favorite-icon {
  font-size: var(--big-font-size);
  
}
.card-doctor-favorite .favorite-icon-full {
  opacity: 0;
  font-size: var(--extra-small-font-size);
  color: var(--purple);
}
.card-doctor-favorite-icon:before {
  content: '';
  position: absolute;
  bottom: -0.1875rem;
  width: 100%;
  top: 50%;
  border-radius: 50%;
  opacity: 0;
  background: radial-gradient(var(--purple-light) 0%, transparent 75%, transparent 100%);
}
.card-doctor-favorite-icon.full .favorite-icon {
  animation: 0.1s linear 0s forwards pulse;
}
.card-doctor-favorite-icon.full .favorite-icon-full {
  animation: 0.1s linear 0.1s forwards pulse-full;
}
.card-doctor-favorite-icon.full:before {
  animation: 0.1s linear 0.1s forwards pulse-shadow;
}

.card-doctor-specialty {
  margin-top: var(--spacing-xxs);
}
.card-doctor-location {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  font-size: var(--main-font-size);
  line-height: 1.2;
  margin-top: var(--spacing-s);
}
.card-doctor-location i {
  width: var(--spacing-s);
  text-align: center;
  color: var(--med-gray-dark); 
}
.card-doctor-location a {
  color: var(--teal-dark);  
  text-decoration: none;
}
.card-doctor-location p {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}
.card-doctor-location + a {
  margin-top: var(--spacing-m);
}
.card-doctor-skill-label {
  position: relative;
  color: var(--teal-dark);
  font-size: var(--middle-font-size);
  font-weight: 700;
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  margin-bottom: var(--spacing-xxs);
}
.card-doctor-skills {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  padding-left: var(--spacing-m);
  font-size: var(--main-font-size);
  line-height: 1.2;
  letter-spacing: -0.01em;
  border-left: 0.0625rem solid var(--gray-light);
}
.card-doctor-skill {
  position: relative;
  padding-left: var(--spacing-l);
}
.card-doctor-skill i,
.card-doctor-skill svg{
  position: absolute;
  left: calc( -1 * var(--spacing-l));
  top: 50%;
  transform: translateY(-50%);
}
.card-doctor-skill .fa-hospital {
  font-size: var(--small-font-size);
}
.card-doctor .badge-green i {
  color: var(--alert-success-dark);
}
.card-doctor .badge-red i {
  color: var(--alert-danger-dark);
}
.card-doctor .inline-link {
  padding-left: 0;
  padding-right: 0;
}



@media (min-width: 992px) {
  .card-plan-price-label {
    font-size: var(--big-font-size);
  }
}
@media (min-width: 1216px) {
  .card-simple h3 {
    font-size: 1.5rem;
  }
}


@media (max-width: 991px) {
  .card-doctor {
    width: 100%;
    flex-direction: column;
    gap: var(--spacing-m);
  }
  .card-doctor-name {
    flex-direction: column;
    margin-bottom: var(--spacing-s);
  }
  .card-doctor-skills {
    padding-left: 0;
    border-left: none;
    width: 100%;
    padding-top: var(--spacing-m);
    border-top: 0.0625rem solid var(--gray-light);
  }
}
@media (max-width: 768px) {
  .card-doctor-item {
    position: relative;
    flex-direction: column;
    gap: var(--spacing-m);
  }
  .card-doctor-number {
    position: absolute;
    top: var(--spacing-m);
    left: var(--spacing-m);
  }
  .card-doctor-name:not(.vertical) h3 {
    padding-left: var(--spacing-l);
  }
  .card-doctor .card-doctor-favorite-text {
    display: none;
  }
}
@media (min-width: 992px) {
  .card-doctor-skills {
    width: 275px;
  }
  .card-doctor-name .badge {
    margin-top: 0.1875rem;
  }
} 

/***** Benefits *****/

.card-benefits {
  background-color: var(--white);
  box-shadow: var(--shadow-m);
  border-radius: 0.75rem;
  overflow: hidden;
  letter-spacing: -0.01em;
}
.card-benefits.bg-light-grass {
  background-color: var(--light-grass-pale);
}
.card-benefits-image {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-benefits-image-border-radius {
  padding-top: var(--spacing-s);
  padding-left: var(--spacing-s);
  padding-right: var(--spacing-s);
}
.card-benefits-image .badge {
  position: absolute;
  top: var(--spacing-s);
  left: var(--spacing-s);
}
.card-benefits-image-border-radius .badge {
  top: var(--spacing-l);
  left: var(--spacing-l);
}
.card-benefits-image img,
.card-benefits-video img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
  object-fit: cover;
}
.card-benefits-video {
  position: relative;
  cursor: pointer;
}
.card-benfits-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  opacity: 0.9;
  background-color: var(--green-light);
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.card-benfits-video-btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: var(--spacing-xxs);
  border-left: 1.625rem solid var(--white);
  border-top: 1.0625rem solid transparent;
  border-bottom: 1.0625rem solid transparent;
  z-index: 1;
}
.card-benfits-video-btn:hover {
  opacity: 1;
  width: 85px;
  height: 85px;
}
.card-benefits-desc {
  padding: var(--spacing-s);
  display: flex;
  gap: var(--spacing-l);
}
.card-benefits-desc:not(.card-benefits-desc-in-line) {
  flex-direction: column;
  align-items: flex-start;
}
.card-benefits-desc-in-line {
  align-items: center;
  justify-content: space-between;
}
.card-benefits-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.card-benefits-desc-in-line .card-benefits-text {
  gap: var(--spacing-xxs);
}
.card-benefits h3 {
  letter-spacing: -0.02em;
}

.card-benefits.horizontal .card-benefits-desc {
  flex: 1;
}
.card-benefits .btns-group {
  align-items: center;
  gap: var(--spacing-xs);
}
.card-benefits.horizontal + .card-benefits.horizontal {
  margin-top: 3.125rem;
}


@media (max-width: 768px) {
  .card-benefits-video img {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .card-benefits.horizontal {
    max-width: 928px;
    display: flex;
    align-items: center;
  }
  .card-benefits.horizontal.reverse,
  .card-benefits.horizontal:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .card-benefits:not(.horizontal) {
    max-width: 362px;
  }
  .card-benefits.horizontal .card-benefits-image {
    max-width: 300px;
    width: 30%;
  }
  .card-benefits.horizontal .card-benefits-video {
    max-width: 464px;
    width: 50%;
  }
  .card-benefits.horizontal .card-benefits-desc {
    padding: var(--spacing-l);
  }
}

@media (min-width: 1200px) {
  .card-benefits h3 {
    font-size: 1.5rem;
  }
  .card-benefits h5 {
    font-size: var(--big-font-size)
  }
}

/***** Call Out ******/
.card-call-out {
  max-width: 1040px;
  border-radius: var(--border-radius-m);
}
.card-call-out.bg-gray {
  background-color: var(--gray-pale);
}
.card-call-out.bg-gradient {
  background: linear-gradient(135deg, #8AF2F8, #EFFED5);
}
.card-call-out.bg-purple {
  background-color: var(--purple-extra-dark);
  color: var(--white);
}
.card-call-out.bg-cadet {
  background-color: var(--cadet-pale);
}
.card-call-out h4 {
  margin-bottom: var(--spacing-s);
}
.card-call-out h1 {
  margin-bottom: var(--spacing-m);
}
.card-call-out img {
  display: block;
}
.card-call-out-img {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.card-call-out.bg-cadet .internal-link:not(:hover):not(:focus) {
  color: var(--black);
}
.card-call-out.bg-cadet .internal-link:not(:hover):not(:focus):after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%23000000'/></svg>");
}

@media (max-width: 1024px) {
  .testimonials .row {
    flex-direction: column-reverse;
  }
  .card-call-out-text {
    padding: var(--spacing-m);
  }
  .card-call-out p + a {
    margin-top: var(--spacing-l);
  }
  .card-call-out-img {
    display: flex;
  }
}
@media (max-width: 640px) {
  .card-call-out h1 {
    margin-bottom: 0.75rem;
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
  }
  .card-call-out-text {
    text-align: center;
  }
  .card-call-out-img {
    justify-content: center;
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
  }
  .card-call-out-img img {
    position: relative;
    margin-bottom: -6.25rem;
    max-width: 382px;
    width: 382px;
    height: auto;
  }
}
@media (min-width: 641px) {
  .card-call-out-img {
    border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    justify-content: flex-end;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .card-call-out .row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1025px) {
  .card-call-out-text {
    padding: var(--spacing-xxl);
  }
  .card-call-out-img {
    height: 100%;
  }
  .card-call-out p + a {
    margin-top: var(--spacing-3xl);
  }
}


/***** Action Cards ******/
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.75rem;
  color: var(--med-gray-dark); 
  overflow: hidden;
}
.card-action:not(.vertical) {
  gap: var(--spacing-s);
  padding: var(--spacing-s);
}
.card-action-big-space {
  flex-direction: column;
  gap: var(--spacing-m);
  padding: var(--spacing-xxl) var(--spacing-s);
}
.card-action-middle-space {
  padding: var(--spacing-l) var(--spacing-m);
  gap: var(--spacing-s);
}
.card-action.vertical {
  flex-direction: column;
}
.card-action.shadow-m {
  box-shadow: var(--shadow-m);
}
.card-action.bg-gray {
  background-color: var(--gray-pale);  
}
.card-action.bg-white {
  background-color: var(--white);
}
.card-action.bg-teal {
  background-color: var(--teal);
  border: 0.0625rem solid var(--cadet);
  color: var(--white);
}
.card-action.bg-light-grass {
  background-color: var(--light-grass-pale);
}
.card-action.bg-gradient {
  background: linear-gradient(0.25turn, #015A58, #66C3A0);
  color: var(--white);
}
.card-action.border-cadet {
  border: 0.125rem solid var(--cadet);
}

.card-action-icon {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--cadet-light);
  color: var(--cadet-dark);
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 0.1875rem solid rgba(194, 235, 232, 0.5);
  box-shadow: 0 0 0 0.1875rem rgba(194, 235, 232, 0.5);
}
.card-action-text {
  flex: 1;
  display: flex;
  gap: var(--spacing-s);
}
.card-action-text .card-action-icon + div {
  flex: 1;
}
.card-action-btn-icon {
  color: var(--black);
  width: var(--spacing-m);
  height: var(--spacing-m);
  flex-shrink: 0;
  font-size: 1.25rem;
}
.card-action.vertical .card-action-img {
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
  overflow: hidden;
}
.card-action.vertical .card-action-img img {
  width: 100%;
}
.card-action-img {
  position: relative;
}
.card-action-img img {
  display: block;
}
.card-action-img .badge {
  position: absolute;
  top: var(--spacing-s);
  left: var(--spacing-s);
}
.card-action-desc {
  position: relative;
  width: 100%;
  padding: var(--spacing-s);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.card-action-desc .health-logo {
  height: 1.5625rem;
  width: auto;
}
.card-action-btns {
  display: flex;
  gap: var(--spacing-xs);
  justify-content: space-between;
}
.card-action-btns:not(.card-action-btns-no-spacing) {
  margin-top: var(--spacing-m);
}
.bg-gradient .card-action-btns {
  margin-top: var(--spacing-xs);
}

.card-action.bg-image {
  position: relative;
}
.card-action.bg-image .card-action-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(42, 40, 47, 0), rgba(42, 40, 47, 100%));
  color: var(--white);
  justify-content: flex-end;
  gap: var(--spacing-xxs);
}
.card-action-desc.gap-s {
  gap: var(--spacing-s);
}

.bg-teal .card-action-btn-icon {
  color: var(--white);
}

.card-action-icon-big {
  font-size: 4.875rem;
  line-height: 1;
}

.card-action .btns-group {
  width: 100%;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
}

.card-action.card-small {
  padding: 0;
  align-items: normal;
  background-color: var(--results-list-bg);
}
.card-action.card-small h5 {
  line-height: 1.2;
}
.card-action.card-small .card-action-icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: calc(-1 * var(--spacing-l) - var(--spacing-xxs));
}
.card-action-bottom {
  border-top: 0.0625rem solid #E2DEE9;
  padding: var(--spacing-s);
  text-align: center;
}


@media (max-width: 640px) {
  .card-action,
  .card-action-text {
    flex-direction: column;
  }
  .card-action-text {
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 641px) {
  .card-action.card-small {
    max-width: 327px;
  }
  .card-action.card-small.vertical {
    max-width: 200px;
  }
}
@media (min-width: 1025px) {
  .card-action h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}


/****** File Card *****/

.card-file {
  display: flex;
  padding: var(--spacing-s);
  background-color: var(--results-list-bg);
  border-radius: var(--border-radius-s);
  gap: var(--spacing-s);
}
.card-file-text {
  flex: 1;
}
.card-file-icon,
.card-file-image {
  flex-shrink: 0;
}
.card-file-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--cadet-pale);
  color: var(--teal);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--big-font-size);
}
.card-file .btn-icon {
  color: var(--black);
}
.card-file .card-file-image {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 0.75rem;
  overflow: hidden;
}

.card-file .badge {
  margin-bottom: var(--spacing-xs);
}

.img-object-fit {
  position: relative;
}
.img-object-fit img {
  display: block;
  max-width: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-file-drop {
  position: relative;
}
.card-file-drop-btn {
  cursor: pointer;
}
.card-file-drop-content {
  position: absolute;
  top: calc(100% - var(--spacing-s));
  right: 0;
  padding: var(--spacing-xs) var(--spacing-s);
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-xs);
  background-color: var(--white);
  border-radius: 0 0 var(--border-radius-xs) var(--border-radius-xs);
  box-shadow: var(--shadow-l);
  display: none;
  z-index: 5;
}
.card-file-drop-content a {
  font-size: var(--big-font-size);
  color: var(--black);
  text-decoration: none;
}
.card-file-drop:hover .card-file-drop-content {
  display: flex;
}

/****** Event cards ******/
.card-event {
  max-width: 360px;
  background-color: var(--white);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-l);
}
.card-event.card-small {
  max-width: 290px;
}
.card-event-image {
  overflow: hidden;
  border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
}
.card-event-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card-event-image h3 {
  position: relative;
  color: var(--white);
  text-align: center;
}
.card-event-desc,
.card-event-bottom {
  padding: var(--spacing-s);
}
.card-event-desc {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}
.card-event-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}
.card-event-bottom {
  border-top: 0.0625rem solid var(--gray-light);
}
.card-event-date {
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  background-color: var(--cadet-pale);
  color: var(--teal);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: var(--middle-font-size);
  text-align: center;
  flex-shrink: 0;
}
.card-event-day {
  font-size: 2rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .card-event-image {
    padding: 1.75rem 2.25rem var(--spacing-s);
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .card-event {
    max-width: 290px;
  }
  .card-event-image {
    padding: 3.125rem var(--spacing-s);
  }
}
@media (min-width: 1024px) {
  .card-event-image {
    padding: var(--spacing-l) var(--spacing-xl);
  }
}


/****** Contact cards ******/
.card-contact {
  position: relative;
  padding: 0 var(--spacing-m) var(--spacing-l);
  background-color: var(--light-grass-pale);
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  margin-top: 1.6875rem;
}
.card-contact-icon {
  position: relative;
  width: 3.375rem;
  height: 3.375rem;
  margin-top: -1.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--med-grass-light);
  color: var(--teal);
  font-size: 1.25rem;
  border: 0.375rem solid var(--med-grass-pale);
}
.card-contact-text,
.card-contact-detail {
  display: flex;
  flex-direction: column;
}
.card-contact-text {
  gap: var(--spacing-xs);
}
.card-contact-detail {
  align-items: center
}
.card-contact.card-medium .card-contact-text,
.card-contact.card-small .card-contact-text,
.card-contact-detail {
  gap: var(--spacing-xxs);
}

@media (min-width: 769px) {
  .card-contact {
    max-width: 362px;
  }
  .card-contact.card-medium {
    max-width: 292px;
  }
  .card-contact.card-small {
    max-width: 252px;
  }
}
@media (min-width: 1023px) {
  .card-contacth4 {
    font-size: var(--big-font-size);
  }
}


div[class*="card-"] form {
  width: 100%;
}
div[class*="card-"] .btn {
  min-width: auto;
}