.bg-white {
  background-color: var(--white);
}

.bg-teal {
  background-color: var(--teal);
  color: var(--white);
}
.bg-teal-dark {
  background-color: var(--teal-dark);
  color: var(--white);
} 
.bg-teal-light {
  background-color: var(--teal-light);
  color: var(--black);
} 
.bg-teal-pale {
  background-color: var(--teal-pale);
  color: var(--black);
}

.bg-dark-teal {
  background-color: var(--dark-teal);
  color: var(--white);
}
.bg-dark-teal-2 {
  background-color: var(--dark-teal-2);
  color: var(--white);
} 
.bg-dark-teal-3 {
  background-color: var(--dark-teal-3);
  color: var(--black);
} 
.bg-dark-teal-4 {
  background-color: var(--dark-teal-4);
  color: var(--black);
}

.bg-cadet {
  background-color: var(--cadet);
  color: var(--black);
}
.bg-cadet-dark {
  background-color: var(--cadet-dark);
  color: var(--white);
} 
.bg-cadet-light {
  background-color: var(--cadet-light);
  color: var(--black);
} 
.bg-cadet-pale {
  background-color: var(--cadet-pale);
  color: var(--black);
}

.bg-med-gray {
  background-color: var(--med-gray);
  color: var(--white);
}
.bg-med-gray-dark {
  background-color: var(--med-gray-dark);
  color: var(--white);
} 
.bg-med-gray-light {
  background-color: var(--med-gray-light);
  color: var(--black);
} 

.bg-gray {
  background-color: var(--gray);
  color: var(--black);
}
.bg-gray-light {
  background-color: var(--gray-light);
  color: var(--black);
} 
.bg-gray-pale {
  background-color: var(--gray-pale);
  color: var(--black);
} 

.bg-green {
  background-color: var(--green);
  color: var(--white);
}
.bg-green-2 {
  background-color: var(--green-2);
  color: var(--black);
} 
.bg-green-3 {
  background-color: var(--green-3);
  color: var(--black);
} 
.bg-green-4 {
  background-color: var(--green-4);
  color: var(--black);
}

.bg-dark-green {
  background-color: var(--dark-green);
  color: var(--white);
}
.bg-dark-green-2 {
  background-color: var(--dark-green-2);
  color: var(--white);
} 
.bg-dark-green-3 {
  background-color: var(--dark-green-3);
  color: var(--black);
} 
.bg-dark-green-4 {
  background-color: var(--dark-green-4);
  color: var(--black);
}

.bg-light-grass {
  background-color: var(--light-grass);
  color: var(--black);
}
.bg-light-grass-2 {
  background-color: var(--light-grass-2);
  color: var(--black);
} 
.bg-light-grass-3 {
  background-color: var(--light-grass-3);
  color: var(--black);
} 
.bg-light-grass-4 {
  background-color: var(--light-grass-4);
  color: var(--black);
}

.bg-med-grass {
  background-color: var(--med-grass);
  color: var(--black);
}
.bg-med-grass-2 {
  background-color: var(--med-grass-2);
  color: var(--black);
} 
.bg-med-grass-3 {
  background-color: var(--med-grass-3);
  color: var(--black);
} 
.bg-med-grass-4 {
  background-color: var(--med-grass-4);
  color: var(--black);
}

.bg-dark-grass {
  background-color: var(--dark-grass);
  color: var(--white);
}
.bg-dark-grass-2 {
  background-color: var(--dark-grass-2);
  color: var(--black);
} 
.bg-dark-grass-3 {
  background-color: var(--dark-grass-3);
  color: var(--black);
} 
.bg-dark-grass-4 {
  background-color: var(--dark-grass-4);
  color: var(--black);
}

.bg-purple {
  background-color: var(--purple);
  color: var(--black);
}
.bg-purple-dark {
  background-color: var(--purple-dark);
  color: var(--white);
} 
.bg-purple-light {
  background-color: var(--purple-light);
  color: var(--black);
} 
.bg-purple-pale {
  background-color: var(--purple-pale);
  color: var(--black);
}

.bg-yellow {
  background-color: var(--yellow);
  color: var(--black);
}
.bg-yellow-2 {
  background-color: var(--yellow-2);
  color: var(--black);
} 
.bg-yellow-3 {
  background-color: var(--yellow-3);
  color: var(--black);
} 

.bg-orange {
  background-color: var(--orange);
  color: var(--black);
}
.bg-orange-2 {
  background-color: var(--orange-2);
  color: var(--white);
} 
.bg-orange-3 {
  background-color: var(--orange-3);
  color: var(--black);
} 

.bg-red {
  background-color: var(--red);
  color: var(--white);
}
.bg-red-2 {
  background-color: var(--red-2);
  color: var(--white);
} 
.bg-red-3 {
  background-color: var(--red-3);
  color: var(--black);
} 
.bg-red-4 {
  background-color: var(--red-4);
  color: var(--black);
}

.bg-alert-info {
  background-color: var(--alert-info);
  color: var(--black);
}
.bg-alert-info-dark {
  background-color: var(--alert-info-text);
  color: var(--white);
}
.bg-alert-info-light {
  background-color: var(--alert-info-bg);
  color: var(--alert-info-text);
}

.bg-alert-danger {
  background-color: var(--alert-danger);
  color: var(--white);
}
.bg-alert-danger-dark {
  background-color: var(--alert-danger-text);
  color: var(--white);
}
.bg-alert-danger-light {
  background-color: var(--alert-danger-bg);
  color: var(--alert-danger-text);
}

.bg-alert-warning {
  background-color: var(--alert-warning);
  color: var(--black);
}
.bg-alert-warning-dark {
  background-color: var(--alert-warning-text);
  color: var(--white);
}
.bg-alert-warning-light {
  background-color: var(--alert-warning-bg);
  color: var(--alert-warning-text);
}

.bg-alert-success {
  background-color: var(--alert-success);
  color: var(--black);
}
.bg-alert-success-dark {
  background-color: var(--alert-success-text);
  color: var(--white);
}
.bg-alert-success-light {
  background-color: var(--alert-success-bg);
  color: var(--alert-success-text);
}

.bg-alert-disabled {
  background-color: var(--alert-disabled);
  color: var(--white);
}
.bg-alert-disabled-gray {
  background-color: var(--alert-disabled-gray);
  color: var(--white);
}
.bg-alert-disabled-light-gray {
  background-color: var(--alert-disabled-light-gray);
  color: var(--alert-disabled);
}
.bg-alert-disabled-pale-gray {
  background-color: var(--alert-disabled-pale-gray);
  color: var(--alert-disabled);
}