hr {
  width: 100%;
  margin: 0;
  display: block;
  border: none;
  border-radius: 0.125rem;
}
.hr-xs {
  border-top: 0.0625rem solid var(--gray-light);
}
.hr-s {
  border-top: 0.0625rem solid var(--gray);
}
.hr-m {
  border-top: 0.0625rem solid var(--black);
}
.hr-l {
  border-top: 0.09375rem  solid var(--teal);
}
.hr-brand-light {
  border-top: 0.1875rem solid var(--cadet-light);
}
.hr-brand-dark {
  border-top: 0.1875rem solid var(--teal);
}
.hr-dotted {
  height: 0.1875rem;
  background-image: repeating-linear-gradient(90deg, #000000, #000000 0.625rem, transparent 0.625rem, transparent 1.25rem);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 100% 0.1875rem;
}