/***** header *****/

.example-header {
  height: 174px;
  display: flex;
  background-color: var(--teal); 
  color: var(--white);
}
.example-header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.example-header h1 {
  font-size: 60px;
  font-weight: 800;
}
.example-header p {
  max-width: 55%;
  font-size: 18px;
}

.example-header .container,
.example-content > .container {
  max-width: 100%;
}

@media (max-width: 769px) {
  .example-header h1 {
    font-size: 32px;
  }
  .example-header p {
    display: none;
  }
  .example-header a img {
    width: 100px;
    height: auto;
  }
}

/***** content *****/
.example-content {
  min-height: calc(100vh - 174px);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #EEEEEE;
}
.example-content.example-footer {
  min-height: auto;
  padding-bottom: 40px;
}
.example-content.bg-white {
  background-color: var(--white);
}
.example-content code {
  white-space: pre-wrap;
}

.example-headline {
  padding-bottom: 20px;
  margin-bottom: var(--spacing-xl);
  border-bottom: 1px solid var(--black);
}
.example-headline h2 {
  font-size: 40px;
  font-weight: 800;
}
.example-headline h2 + * {
  margin-top: var(--spacing-s);
}
.example-headline small {
  font-weight: 400;
  font-size: 0.75em;
}

/****** shadow *****/
.example-box-shadows {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}
.example-box-shadow-wrap {
  width: 237px;
}
.example-badges code,
.example-box-shadow-wrap code,
.example-logos code {
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  background-color: var(--white);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-s);
  text-align: center;
  display: inline-block;
  text-align: left;
}

.example-box-shadow {
  width: 237px;
  height: 237px;
}
.example-caption {
  margin-top: var(--spacing-m);
}
.example-caption strong {
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: var(--spacing-xs);
}
.example-caption span {
  font-size: 16px;
  color: #5A5A5A;
}

/****** nav list *****/
.example-nav-links {
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.example-nav-links li {
  padding: var(--spacing-xs) 0;
}

/****** alerts *****/
.example-alerts-wrap {
  margin-top: var(--spacing-xxl);
  padding: var(--spacing-l) var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

/****** HTML ******/
.example-html {
  background-color: #eee;
}
.example-html.bg-white {
  background-color: var(--white);
}
.example-html-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-m);
  border-bottom: 1px solid gray;
}
.example-html pre {
  white-space: pre-wrap;
  padding: var(--spacing-m);
}
.example-html pre code {
  font-size: 16px;
  font-family: monospace;
}

/****** spacing *****/
.mt-m {
  margin-top: var(--spacing-m);
}
.mt-l {
  margin-top: var(--spacing-l);
}
.mt-xl {
  margin-top: var(--spacing-xl);
}
.mt-xxl {
  margin-top: var(--spacing-xxl);
}

/****** colors *****/
.example-colors {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--spacing-l);
  row-gap: var(--spacing-l);
}
.example-color-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden;
}
.example-color-item h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: var(--spacing-s);
}
.example-color-item div {
  padding: var(--spacing-m);
  display: flex;
  
  flex-direction: column;
}
.example-color-item div:first-child {
  min-height: 221px;
  padding-bottom: 16px;
}
.example-color-item div::not(:first-child) {
  justify-content: center;
}
.example-color-item p {
  display: inline-flex;
  gap: var(--spacing-m)
}

.example-colors code,
.example-spacing code {
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius-xs) !important;
  box-shadow: var(--shadow-s);
}

@media (min-width: 768px) and (max-width: 1279px) {
  .example-colors {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .example-colors {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .example-colors {
    grid-template-columns: repeat(1, 1fr);
  }
}

/***** Copy-btn/code tag *****/
.copy-btn,
code {
  cursor: pointer;
  position: relative;
}
.copy-btn:before,
code:before {
  content: 'Copy to clipboard';
  position: absolute;
  bottom: calc(100% + var(--spacing-xs));
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  background-color: var(--black);
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  white-space: nowrap;
  display: none;
}
.copy-btn.copied:before,
code.copied:before {
  content: 'Copied';
}
.copy-btn:hover:before,
code:hover:before {
  display: block;
}
.example-html-body code {
  cursor: initial;
}
.example-html-body code:before {
  display: none;
}

/***** Spacing *****/
.example-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}
.example-spacing-item,
.example-spacing-item-inner {
  display: flex;
  align-items: center
}
.example-spacing-class {
  max-width: 178px;
  width: 40%;
}
.example-spacing-item-inner {
  min-height: 64px;
  margin-right: var(--spacing-xl);
}
.example-spacing-box {
  background-color: #9747FF;
  margin-right: var(--spacing-xl);
  flex-shrink: 0;
}
.example-spacing-xs {
  height: var(--spacing-xs);
  width: var(--spacing-xs);
}
.example-spacing-s {
  height: var(--spacing-s);
  width: var(--spacing-s);
} 
.example-spacing-m {
  height: var(--spacing-m);
  width: var(--spacing-m);
}
.example-spacing-l {
  height: var(--spacing-l);
  width: var(--spacing-l);
}
.example-spacing-xl {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}
.example-spacing-xxl {
  height: var(--spacing-xxl);
  width: var(--spacing-xxl);
}
.example-spacing-3xl {
  height: var(--spacing-3xl);
  width: var(--spacing-3xl);
} 
.example-spacing-4xl {
  height: var(--spacing-4xl);
  width: var(--spacing-4xl);
}
.example-spacing-5xl {
  height: var(--spacing-5xl);
  width: var(--spacing-5xl);
}
.example-spacing-6xl {
  height: var(--spacing-6xl);
  width: var(--spacing-6xl);
} 
.example-spacing-7xl {
  height: var(--spacing-7xl);
  width: var(--spacing-7xl);
}
.example-spacing-not-used .example-spacing-box {
  opacity: 0.3;
}


/***** Grid *****/
.example-grid .row {
  margin-top: var(--gap);
}
.example-grid .example-container-xs .row {
  margin-top: var(--spacing-s);
}
.example-grid .col {
  height: 40px;
  background-color: #9747FF;
  border-radius: var(--border-radius-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
.example-grid + .example-grid {
  margin-top: var(--spacing-xxl);
}
.example-grid .example-container-m {
  max-width: calc(960px + 2 * var(--gap));
}
.example-grid .example-container-s {
  max-width: calc(721px + 2 * var(--gap));
}
@media (min-width: 1024px) {
  .example-grid .example-container-s .row.row-cols-12 > .col {
    width: calc(100% / 6 - var(--gutter) / 6 * 5);
  }
}

@media (min-width: 1200px) {
  .example-grid .example-container-xl {
    max-width: calc(1140px + 2 * var(--gap));
  }
}

.example-grid .example-container-xs {
  max-width: 719px;
}
.example-grid .example-container-xxs {
  max-width: 480px;
}
.example-grid .example-container-xs .row {
  gap: 16px
}
@media (min-width: 576px) {
  .example-grid .example-container-xs .row.row-cols-12 > .col,
  .example-grid .example-container-xs .row.row-cols-6 > .col,
  .example-grid .example-container-xs .row.row-cols-3 > .col {
    width: calc(100% / 3 - var(--spacing-s) / 3 * 2);
  }
  .example-grid .example-container-xs .row.row-cols-4 > .col {
    width: calc(100% / 4 - var(--spacing-s) / 4 * 3);
  }
  .example-grid .example-container-xs .row.row-cols-2 > .col {
    width: calc(100% / 2 - var(--spacing-s) / 2);
  }
}
.example-grid .example-container-xxs .row.row-cols-12 > .col {
  width: calc(100% / 3 - var(--spacing-m) / 3 * 2);
}
.example-grid .example-container-xxs .row.row-cols-4 > .col,
.example-grid .example-container-xxs .row.row-cols-6 > .col {
  width: calc(100% / 2 - var(--spacing-m) / 2);
}
.example-grid .example-container-xxs .row.row-cols-3 > .col,
.example-grid .example-container-xxs .row.row-cols-2 > .col {
  width: 100%;
}

/***** Breadcrumb *****/
.breadcrumbs .example-breadcrumbs-hover {
  color: var(--cadet);
}
.breadcrumbs .example-breadcrumbs-focus {
  color: var(--cadet);
  border-color: var(--cadet-light);
}

/***** Badges *****/
.example-badges code:first-child {
  margin-top: 0;
}
.example-badges-row-bottom {
  align-items: flex-end;
}
.example-badges-row:first-child {
  font-weight: 700;
}
.example-badges-row div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-m);
}
.example-badges-row div:nth-child(1),
.example-badges-row div:nth-child(2) {
  width: 127px;
}
.example-badges-row div:nth-child(3) {
  width: 76px;
}
.example-badges-row div:nth-child(4) {
  width: 60px;
}

.example-badges-row div.example-column,
.example-badges-row .example-column div {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .example-column + .example-column {
    margin-top: 24px;
  }
}
@media (min-width: 768px) {
  .example-badges-row {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
  }
}
@media (min-width: 1024px) {
  .example-columns {
    display: flex;
  }
}

/***** Typography *****/

.example-typography-item {
  display: flex;

  padding-bottom: 50px;
  border-bottom: 2px solid #BCC3CD;
}
.example-typography-item + .example-typography-item {
  padding-top: 50px;
}
.example-typography-item > div {
  margin-top: var(--spacing-m);
}
.example-typography-item > div:first-child {
  width: 400px;
  flex-shrink: 0;
  padding-right: var(--spacing-l);
}
.example-typography-item code {
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius-xs) !important;
  box-shadow: var(--shadow-s);
  line-height: 2;
  display: inline-block;
}
.example-typography-tablet ul, 
.example-typography-tablet ol,
.example-typography-mobile ul, 
.example-typography-mobile ol {
  line-height: 1.8;
}


@media (max-width: 768px) {
  .example-typography-item {
    flex-direction: column-reverse;
  }
  .example-typography-item > div:last-child {
    margin-top: 0;
  }
}

@media (min-width: 1216px) {
  .example-typography-tablet h1 {
    font-size: 40px;
  }
  .example-typography-tablet h2 {
    font-size: 28px;
  }
  .example-typography-tablet h3 {
    font-size: 22px;
  }
  .example-typography-tablet h4 {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .example-typography-mobile h1 {
    font-size: 32px;
  }
  .example-typography-mobile h2 {
    font-size: 24px;
  }
  .example-typography-mobile h3 {
    font-size: 18px;
  }
  .example-typography-mobile h4 {
    font-size: 16px;
  }
}

/***** Example icons *****/
.example-icons-grid + h2 {
  margin-top: var(--spacing-xl);
}
.example-icons h4 {
  margin-top: var(--spacing-l);
  margin-bottom: var(--spacing-m);
}
.example-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-pale);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-s);
  padding: var(--spacing-m) var(--spacing-s);
  border: 1px solid var(--gray-light);
  width: 225px;
}
.example-icon i {
  font-size: 30px;
}
.example-icon code {
  background-color: var(--white);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-s);
  margin-top: var(--spacing-s);
  padding: 4px 8px;
}
.example-icons-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
}
.example-icons-grid + .example-icons-grid {
  margin-top: var(--spacing-m);
}

/****** Custom select *******/
 
.example-dropdown-hover .custom-option:nth-child(3) {
  background: rgba(181,222,200,0.5);
}
.example-dropdown-hover .custom-option:nth-child(4) {
  background-color: transparent;
  color: var(--teal);
  font-weight: 600;
}

/******* Divires *****/
.example-dividers code,
.example-form code {
  background-color: var(--gray-pale);
  box-shadow: var(--shadow-s);
  padding: 4px 8px;
}
.example-dividers code {
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.example-form code {
  border-radius: var(--border-radius-xs);
}
/****** Toggles *****/
.example-toggles-header {
  border-bottom: 1px solid var(--gray-light);
}

.example-toggles .col,
.example-toggles .col-2,
.example-toggles .col-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example-toggles .col > div,
.example-toggles .col-2 > div,
.example-toggles .col-5 > div,
.example-toggles .col > strong {
  height: 50px;
  display: flex;
  align-items: center;
}

.example-toggles .example-toggles-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--gray-pale);
}
.example-toggles .example-toggles-footer .col > div {
  height: inherit;
}
.example-hover .toggle input + .toggle-icon {
  background-color: var(--gray);
}
.example-hover .toggle input:checked + .toggle-icon {
  background-color: var(--teal);
}
.example-focus .toggle input + .toggle-icon {
  box-shadow: var(--shadow-focus);
}
@media (max-width: 575px) {
  .example-toggles .row.row-cols-2 > .col {
    width: calc(100% / 2 - var(--gutter) / 2);
  }
}
@media (min-width: 769px) {
  .example-toggles-header,
  .example-toggles-footer {
    padding-left: 20%;
  }

  .row.row-cols-5 > .col {
    width: calc(20% - var(--gutter));
  }
}

/***** Toasts *****/
.example-toasts-table-wrap {
  max-width: 100%;
  overflow-x: auto;
}
.example-toasts-table {
  border: 1px solid var(--gray);
}
.example-toasts-table tr {
  border-top: 1px solid var(--gray);
}
.example-toasts-table td,
.example-toasts-table th {
  padding: 12px;
}
.example-toasts-table thead {
  text-align: left;
}
.example-toasts-copy {
  max-width: 100%;
  overflow-x: auto;
  display: inline-block;
  padding: var(--spacing-m);
}
.example-buttons code,
.example-toasts code {
  display: inline-block;
  background-color: var(--white);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-s);
  margin-top: var(--spacing-s);
  padding: 4px 8px;
}

/***** Inputs *****/
.example-content .form-group {
  max-width: 350px;
}
.example-form code {
  display: inline-block;
  padding-bottom: 24px;
}

/***** Pagination ******/
.example-pagination-mobile.pagination-mobile {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
@media (min-width: 769px) {
  .example-pagination-mobile.pagination-mobile {
    padding-left: 32px;
    padding-right: 32px;
  }
}

/****** Buttons ******/
.btn.example-mobile:not(.btn-simple) {
  height: 44px;
}
.btn.example-focus {
  box-shadow: var(--shadow-focus);
}

.btn-primary.example-hover {
  background-color: var(--dark-teal-dark);
  color: var(--white);
}

.btn-secondary.example-hover {
  background-color: var(--teal);
  color: var(--white);
}

.btn-tertiary.example-hover {
  background-color: var(--teal-pale);
  color: var(--black);
}

.btn-black.example-hover {
  background-color: var(--teal);
  color: var(--white);
}

.btn-white.example-hover {
  background-color: var(--light-grass-light);
  color: var(--teal);
}

.btn-destructive.example-hover {
  background-color: var(--alert-danger-dark);
  color: var(--white);
}

.btn-warning.example-hover {
  background-color: var(--alert-warning-dark);
  color: var(--white);
}

.btn-simple.example-hover {
  background-color: var(--gray-pale);
}

.enroll-now-btn.example-hover {
  background-color: var(--white);
}
.enroll-now-btn.example-focus {
   box-shadow: var(--shadow-focus);
   background-color: var(--white);
}

.inline-link.example-hover,
.internal-link.example-hover,
.external-link.example-hover,
.btn-text-only.example-hover {
  color: var(--teal);
}
.internal-link.example-hover:after,
.internal-link.example-visited-hover:after {
  content: url("data:image/svg+xml;charset=UTF-8,<svg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg' version='1.1'><path d='M4.284 2.092L6.316 0.683999C6.828 1.516 7.32933 2.268 7.82 2.94C8.31067 3.60133 8.81733 4.19333 9.34 4.716C9.87333 5.23867 10.4387 5.71867 11.036 6.156V6.252C10.4387 6.68933 9.87333 7.17467 9.34 7.708C8.81733 8.23067 8.31067 8.82267 7.82 9.484C7.32933 10.1453 6.828 10.8973 6.316 11.74L4.284 10.332C4.74267 9.63867 5.21733 9.04133 5.708 8.54C6.20933 8.028 6.716 7.596 7.228 7.244C7.74 6.892 8.236 6.60933 8.716 6.396C9.196 6.18267 9.63867 6.028 10.044 5.932V6.476C9.63867 6.38 9.196 6.23067 8.716 6.028C8.236 5.81467 7.74 5.532 7.228 5.18C6.716 4.828 6.20933 4.396 5.708 3.884C5.21733 3.372 4.74267 2.77467 4.284 2.092ZM0.38 4.844H4.14C5.01467 4.844 5.84133 4.89733 6.62 5.004C7.40933 5.1 8.13467 5.228 8.796 5.388L10.14 6.204L8.796 7.02C8.13467 7.18 7.40933 7.31333 6.62 7.42C5.84133 7.516 5.01467 7.564 4.14 7.564H0.38V4.844Z' fill='%230A5B58'/></svg>");
}
.inline-link.example-focused,
.internal-link.example-focused,
.external-link.example-focused,
.btn-text-only.example-focused {
  color: var(--teal-dark);
}
.inline-link.example-focused:after,
.internal-link.example-focused:before,
.external-link.example-focused:before,
.btn-text-only.example-focused:after {
  opacity: 1;
}
.inline-link.example-visited,
.internal-link.example-visited,
.external-link.example-visited,
.btn-text-only.example-visited {
  color: var(--teal-dark);
}
.inline-link.example-visited-hover,
.internal-link.example-visited-hover,
.external-link.example-visited-hover,
.btn-text-only.example-visited-hover {
  color: var(--teal);
}

