/***** header *****/

.example-header {
  height: 174px;
  display: flex;
  background-color: var(--teal); 
  color: var(--white);
}
.example-header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.example-header h1 {
  font-size: 60px;
  font-weight: 800;
}
.example-header p {
  max-width: 40%;
  font-size: 18px;
}

.example-header .container,
.example-content .container {
  max-width: 100%;
}

/***** content *****/
.example-content {
  min-height: calc(100% - 174px);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #EEEEEE;
}

.example-headline {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black);
}
.example-headline h2 {
  font-size: 40px;
  font-weight: 800;
}
.example-headline h2 + * {
  margin-top: var(--spacing-s);
}

/****** shadow *****/
.example-box-shadows {
  padding-top: var(--spacing-xxl);
  display: flex;
  justify-content: space-between;
}
.example-box-shadow-wrap {
  width: 237px;
}
.example-box-shadow-wrap .example-code {
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  background-color: var(--white);
  border-radius: var(--border-radius-xs);
  text-align: center;
}
.example-box-shadow {
  width: 237px;
  height: 237px;
}
.example-caption {
  margin-top: var(--spacing-m);
}
.example-caption strong {
  display: block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: var(--spacing-xs);
}
.example-caption span {
  font-size: 16px;
  color: #5A5A5A;
}

/****** nav list *****/
.example-nav-links {
  font-size: 18px;
}
.example-nav-links li {
  padding: var(--spacing-xs) 0;
}

/****** alerts *****/
.example-alerts-wrap {
  margin-top: var(--spacing-xxl);
  padding: var(--spacing-l) var(--spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

/****** HTML ******/
.example-html {
  background-color: #eee;
}
.example-html-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-m);
  border-bottom: 1px solid gray;
}
.example-html pre {
  white-space: pre-wrap;
  padding: var(--spacing-m);
}
.example-html pre code {
  font-size: 16px;
  font-family: monospace;
}

/****** spacing *****/
.mt-m {
  margin-top: var(--spacing-m);
}
.mt-l {
  margin-top: var(--spacing-l);
}
.mt-xl {
  margin-top: var(--spacing-xl);
}
.mt-xxl {
  margin-top: var(--spacing-xxl);
}

/****** colors *****/
.example-colors {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: var(--spacing-l);
  gap: var(--spacing-l);
  row-gap: var(--spacing-l);
}
.example-color-item {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden;
}
.example-color-item h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: var(--spacing-s);
}
.example-color-item div {
  padding: var(--spacing-m);
  display: flex;
  
  flex-direction: column;
}
.example-color-item div:first-child {
  height: 221px;
}
.example-color-item div::not(:first-child) {
  justify-content: center;
}
.example-color-item p {
  display: inline-flex;
  gap: var(--spacing-m)
}

.example-colors code,
.example-spacing code {
  margin-top: var(--spacing-s);
  padding: var(--spacing-xs);
  background-color: var(--white);
  color: var(--black);
  border-radius: var(--border-radius-xs) !important;
  box-shadow: 0 0 10px rgba(21, 21, 21, 0.02), 0 2px 4px rgba(21,21, 21, 0.08);
}

/***** Copy-btn *****/
.copy-btn {
  cursor: pointer;
}

/***** Grid *****/
.example-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  padding: var(--spacing-m) 0;
}
.example-spacing-item,
.example-spacing-item-inner {
  display: flex;
  align-items: center
}
.example-spacing-class {
  max-width: 178px;
  width: 40%;
}
.example-spacing-item-inner {
  min-height: 64px;
  margin-right: var(--spacing-xl);
}
.example-spacing-box {
  background-color: #9747FF;
  margin-right: var(--spacing-xl);
  flex-shrink: 0;
}
.example-spacing-xs {
  height: var(--spacing-xs);
  width: var(--spacing-xs);
}
.example-spacing-s {
  height: var(--spacing-s);
  width: var(--spacing-s);
} 
.example-spacing-m {
  height: var(--spacing-m);
  width: var(--spacing-m);
}
.example-spacing-l {
  height: var(--spacing-l);
  width: var(--spacing-l);
}
.example-spacing-xl {
  height: var(--spacing-xl);
  width: var(--spacing-xl);
}
.example-spacing-xxl {
  height: var(--spacing-xxl);
  width: var(--spacing-xxl);
}
.example-spacing-3xl {
  height: var(--spacing-3xl);
  width: var(--spacing-3xl);
} 
.example-spacing-4xl {
  height: var(--spacing-4xl);
  width: var(--spacing-4xl);
}
.example-spacing-5xl {
  height: var(--spacing-5xl);
  width: var(--spacing-5xl);
}
.example-spacing-6xl {
  height: var(--spacing-6xl);
  width: var(--spacing-6xl);
} 
.example-spacing-7xl {
  height: var(--spacing-7xl);
  width: var(--spacing-7xl);
}
.example-spacing-not-used .example-spacing-box {
  opacity: 0.3;
}