

.top-bar {
  line-height: 2.1875rem;
  color: var(--teal);
  font-weight: 500;
}
.top-bar.text-dark-teal {
  color: var(--dark-teal-dark)
}
.top-bar a {
  color: inherit;
}
.header {
  position: relative;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  z-index: 10;
}
.header .logo {
  display: inline-flex;
  align-items: center;
}
.header a:not(.btn) {
  color: inherit;
  text-decoration: none;
}
.header img {
  display: block
}
.header .container {
  display: flex;
  justify-content: space-between;
}

.header-img {
  padding-top: var(--spacing-s);
}

.header-content {
  padding-top: var(--spacing-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  color: var(--teal);
  text-align: center;
}
.header-content .btn {
  width: calc(100% - 2 * var(--spacing-s));
}
.header-content hr {
  width: 2.8125rem;
}
.header-content .small-caps {
  font-weight: 700;
  display: block;
}
.header-content h3 {
  line-height: 0.8;
}

.main-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  height: 100%;
}
.main-nav-item {
  cursor: pointer;
}
.main-nav-item > span,
.main-nav-item > a {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-weight: 600;
  font-size: var(--main-font-size);
}
.main-nav-item > span {
  gap: var(--spacing-xs);
  color: var(--teal);
}
.main-nav-item > span:after {
  content: '\f078';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900; 
  transition: all 0.3s;
}

.search-wrap {
  position: relative;
  width: 33px;
  height: 36px; 
  cursor: pointer;
}
.search-wrap.visible {
  width: 100%;
}
.search-wrap.visible .search-container {
  position: relative;
  display: block;
  top: 0;
}
.search-input {
  width: 100%;
  height: 100%;
  padding-left: 2.75rem;
  padding-right: 3.125rem;
  background: var(--gray-pale) url(../icons/search.svg) no-repeat 1rem 50%;
  border-radius: 0 0 var(--border-radius-xs) var(--border-radius-xs);
  border: 0.1875rem solid var(--cadet);
  outline: none;
  transition: all 0.3s;
}
.search-input:focus {
  box-shadow: var(--shadow-focus);
}
.search-btn {
  color: var(--teal);
}
.search-btn.js-dropdown-btn {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.search-btn.opened i:before {
  --fa: "\f00d";
}
.search-btn.opened:after {
  opacity: 1;
}
.search-btn:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -0.875rem;
  border-bottom: 0.125rem solid var(--green-light);
  opacity: 0;
  transition: all 0.3s;
}
.search-clear {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  right: var(--spacing-s);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: var(--main-font-size);
  display: none;
}

.sub-nav ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 991px) {
  .header .container {
    max-width: 100%;
  }
  .header-careers .main-nav {
    display: none;
  }
  .header-careers .mobile-btn {
    display: block;
  }
  .header-careers .container > .btns-group {
    display: none;
  }
  .header-careers .btns-group {
    justify-content: center;
    margin-top: var(--spacing-s);
  }
  .header-careers .btn {
    max-width: 279px;
    width: 100%;
  }
  .mobile-btn {
    position: relative;
    width: 1.3125rem;
    height: 1.125rem;
  }
  .mobile-btn:before,
  .mobile-btn:after {
    content: '';
  }
  .mobile-btn:before,
  .mobile-btn:after,
  .mobile-btn em {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0.1875rem;
    border-radius: 0.125rem;
    background-color: var(--teal);
    transition: all 0.3s;
  }
  .mobile-btn:before {
    top: 0;
  }
  .mobile-btn:after {
    bottom: 0;
  }
  .mobile-btn em {
    top: 50%;
    margin-top: -0.09375rem;
    opacity: 1;
  }
  .opened.mobile-btn:before {
    transform: translateX(-50%) rotate(45deg);
    top: 0.5rem;
  }
  .opened.mobile-btn:after {
    transform: translateX(-50%) rotate(-45deg);
    bottom: 0.4375rem;
  }
  .opened.mobile-btn em {
    opacity: 0;
  }
  .header-careers .container {
    align-items: center;
  }
  .header-careers .mobile-btn:before,
  .header-careers .mobile-btn:after,
  .header-careers  .mobile-btn em {
    background-color: var(--white);
  }
  .header-careers .main-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: var(--teal);
    padding: var(--spacing-s);

  }
  .header-careers .main-nav-list {
    flex-direction: column;
    gap: 0;
  }
  .header-careers .main-nav-item > a {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    display: block;
    font-size: 1.375rem;
    font-family: "Fraunces", serif;
  }
  .header-careers .main-nav-list li + li {
    border-top: 0.0625rem solid rgba(255,255,255,0.3);
  }
}

@media (max-width: 766px) {
  .header .container {
    align-items: center;
  }
  .header .mobile-hidden {
    display: none;
  }
  .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: var(--spacing-s);
    background-color: var(--light-grass-pale);
  }
  .main-nav-list {
    flex-direction: column;
  }
  .main-nav-item {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }
  .header-careers .main-nav-item {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main-nav-item + .main-nav-item {
    border-top: 0.0625rem solid rgba(10, 91, 88, 0.3);
  }
  .main-nav-item > span {
    width: 100%;
    font-size: 1.375rem;
    font-family: "Fraunces", serif;
    justify-content: space-between;
  }
  .main-nav .btns-group:not(.vertical) .btn {
    flex: 1;
  }
  .search-container,
  .main-nav .btns-group:not(.vertical) {
    margin-bottom: var(--spacing-s);
  }
  .main-nav .btns-group.vertical {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
  }
  .search-input {
    height: 2.5rem;
    border-radius: var(--spacing-xs);
    background-color: var(--white);
  }
  .sub-nav-headline {
    display: none;
  }
  .sub-nav {
    display: none;
  }
  .sub-nav ul {
    list-style: none;
    padding-top: 0;
    padding-left: var(--spacing-xs);
    color: var(--med-gray-dark);
  }
  .sub-nav .col {
    width: 100%;
    flex: auto;
  }
  .sub-nav-col.bg-teal {
    background: transparent;
  }
  .sub-nav .row {
    gap: 0;
  }
  .sub-nav-col.pb-m {
    padding-bottom: 0;
  }
  .main-nav-item > .opened:after {
    transform: rotate(180deg);
    color: var(--cadet);
  }
  .sub-nav .header-img,
  .sub-nav .header-content {
    display: none;
  }
}
@media (min-width: 767px) {
  .header .mobile-visible {
    display: none;
  }
  .header:not(.header-careers) .main-nav {
    display: block !important;
  }
  .search-container {
    position: absolute;
    right: 0;
    top: calc(100% + 0.875rem);
    width: 600px;
    display: none;
    height: 2.5rem;
  }
  .header .container {
    position: relative;
  }
  .main-nav-item > span:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -0.875rem;
    border-bottom: 0.25rem solid var(--cadet);
    opacity: 0;
    transition: all 0.3s;
  }
  .main-nav-item:hover > span:before,
  .main-nav-item.opened > span:before,
  .main-nav-item:hover > a:before {
    opacity: 1;
  }
  .main-nav-item:hover > span {
    color: var(--cadet);
  }

  .mobile-btn {
    display: none;
  }
  
  .sub-nav {
    display: none;
    position: absolute;
    top: calc(100% + 0.875rem);
    box-shadow: var(--shadow-xl);
    border-radius: var(--border-radius-s);
    background-color: var(--white);
    overflow: hidden;
  }
  .sub-nav > .row {
    gap: 0;
  }
  .main-nav-item-floating {
    position: relative;
  }
  .main-nav-item-floating .sub-nav {
    width: auto;
    left: 0;
    right: auto;
    transform: translateX(0);
  }
  .main-nav-item-floating .row {
    flex-wrap: nowrap;
  }
  .main-nav-item-one-column .sub-nav-col {
    width: 300px;
  }
  .sub-nav .btns-group {
    margin-top: var(--spacing-s);
    gap: var(--spacing-xs);
  }
  .sub-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sub-nav li {
    margin-top: var(--spacing-s);
  }
  .sub-nav a:not(.btn) {
    font-size: var(--big-font-size);
    line-height: 1.3;
    letter-spacing: -0.5px;
  }
  .sub-nav-col {
    padding: 0 var(--spacing-m) var(--spacing-m);
  }
  .sub-nav-col.bg-teal,
  .sub-nav-col.bg-teal .sub-nav-headline {
    color: var(--white);
  }
  .sub-nav-headline {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
    border-bottom: 0.0625rem solid var(--cadet-light);
    color: var(--teal);
    font-weight: 600;
  }
  .sub-nav-headline .small-caps {
    font-weight: 600;
  }
  .main-nav-item.opened:after {
    opacity: 1;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .header:not(.header-careers) .logo {
    width: 120px;
  }
  .header .btns-group {
    gap: var(--spacing-xs);
  }
  .main-nav-list {
    gap: var(--spacing-s);
  }
  .main-nav-item > span {
    font-size: var(--middle-font-size);
  }
  .sub-nav .col {
    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);
  }
  .main-nav-item:not(.main-nav-item-one-column):not(.main-nav-item-two-columns) .sub-nav .col-3:first-child {
    width: calc(100% / 12 * 4);
  }
  .main-nav-item:not(.main-nav-item-one-column):not(.main-nav-item-two-columns) .sub-nav .col-3:last-child {
    width: 100%;
  }
  .sub-nav .row {
    gap: 0;
  }

  .main-nav-item-two-columns .sub-nav-col {
    width: 230px;
  }
}
@media (min-width: 767px) and (max-width: 1279px) {
  .sub-nav {
    left: var(--gap);
    right: var(--gap);
  }
  .main-nav-list {
    gap: var(--spacing-m);
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .main-nav-item-floating .sub-nav {
    left: auto;
    right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .main-nav-careers .main-nav-list {
    gap: var(--spacing-s);
  }
  .main-nav-item-two-columns .sub-nav-col {
    width: 202px;
  }
}
@media (min-width: 992px) {
  .header.header-careers .main-nav {
    display: block !important;
  }
  .header-careers .main-nav .btns-group {
    display: none;
  }
  .main-nav-item > a:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -0.875rem;
    border-bottom: 0.25rem solid var(--cadet);
    opacity: 0;
    transition: all 0.3s;
  }
  .main-nav-item:hover > a:before,
  .main-nav-item.active > a:before {
    opacity: 1;
  }
}
@media (min-width: 1280px) {
  .sub-nav {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
  }
  .header-content h3 {
    font-size: 2.125rem;
  }
  .main-nav-item-two-columns .sub-nav-col {
    width: 300px;
  }
  .main-nav-list {
    gap: var(--spacing-l);
  }
}