.hero {
  position: relative;
  /* min-height: 350px; */
}
.hero.bg-white {
  background-color: var(--white);
  color: var(--med-gray-dark);
}
.hero.bg-white h1:not(.text-teal),
.hero.bg-white .hero-text .card-headline,
.hero.bg-gradient h1,
.hero.bg-gradient .hero-text .card-headline {
  color: var(--black);
}
.hero.bg-purple {
  background-color: var(--purple-extra-dark);
  color: var(--white);
}
.hero.bg-cadet-pale {
  background-color: var(--cadet-pale);
}
.hero.bg-gray-pale {
  background-color: var(--gray-pale);
}
.hero.bg-cadet-dark {
  background-color: var(--cadet-dark);
  color: var(--white);
}

.hero.bg-image {
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.hero h1:not(.headline-underline) .font-brand,
.hero h2:not(.headline-underline) .font-brand {
  display: block;
}

.hero div[class*="gap-"] {
  display: flex;
  flex-direction: column;
}

.hero-text.gap-s {
  gap: var(--spacing-s);
}

.hero-text.text-center div[class*="gap-"] {
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.hero-media {
  position: relative;
}
.hero-media.img-object-fit {
  padding: 0;
  width: calc(100% + var(--gutter) / 2);
  height: 100%;
  margin-left: calc(-1 * var(--gutter) / 2);
}
.hero-img {
  display: block;
}
.hero-stars,
.hero-call-out {
  position: absolute;
}
.hero .left-bottom {
  left: 1rem;
  bottom: 0.875rem;
}
.hero .left-top {
  left: 1rem;
  top: 0.3125rem;
}
.hero .right-bottom {
  right: 0;
  bottom: -0.875rem;
}
.hero .right-top {
  right: 0;
  top: 0;
}
.hero .negative-right-top {
  right: calc(-1 * var(--spacing-s));
  top: calc(-1 * var(--spacing-s));
}
.hero .btns-group {
  flex-wrap: wrap;
}
.hero-text.text-center .btns-group {
  justify-content: center;
}
.hero-cards .card-simple {
  max-width: 100%;
}
.hero .card-simple {
  position: relative;
}
.hero-img.border-radius-s {
  border-radius: var(--border-radius-s);
}
.hero-enrollment {
  display: flex;
  align-items: center;
  padding: var(--spacing-m);
  background-color: var(--alert-disabled-pale);
  border: 0.0625rem solid rgba(108, 117, 125, 0.15);
  border-radius: var(--border-radius-xs);
}
.hero-enrollment-item {
  display: flex;
  gap: var(--spacing-xs);
  flex-shrink: 0;
}
.hero-enrollment-progress {
  flex: 1;
}
.hero-enrollment .progress {
  background-color: var(--white);
}
.vertical-padding-s {
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}
.vertical-padding-l {
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
}
.vertical-padding-xxl {
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
}

@media (max-width: 768px) {
  .hero.bg-gradient {
    background: linear-gradient(90deg, #8AF2F8, #EFFED5);
    color: var(--med-gray-dark);
  }
  .hero .row {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
  }
  .hero-text {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-m);
    padding-left: var(--spacing-xs);
    padding-right: var(--spacing-xs);
    gap: var(--spacing-m);
  }
  .hero-text.in-line {
    gap: var(--spacing-s);
  }
  .hero-text.in-line .btns-group {
    margin-top: var(--spacing-l);
  }
  .hero-call-out {
    display: none;
  }
  .hero-mobile-badge {
    width: calc(100% + 2 * var(--gap));
    padding: 0.6875rem var(--spacing-s);
    margin-left: calc(-1 * var(--gap));
    margin-right: calc(-1 * var(--gap));
    line-height: 1;
    color: var(--white);
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    font-size: var(--big-font-size);
    background-color: var(--mobile-badge-bg);
    text-align: center;
  }
  .hero-mobile-badge.bg-purple-ligth {
    background-color: var(--purple-light);
    color: var(--black);
  }

  .hero-media.img-object-fit {
    width: calc(100% + 2 * var(--gap));
    margin-left: calc(-1 * var(--gap));
    margin-right: calc(-1 * var(--gap));
    margin-top: var(--spacing-m);
  }
  .hero-media .hero-mobile-badge {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }
  .hero-bg + .container {
    margin-top: -5rem;
  }
  .hero .card-simple.no-shadow .card-simple-body {
    padding: var(--spacing-s) 0;
  }
  .hero-enrollment {
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
  }
  .hero-enrollment-item {
    width: 100%;
  }
  .hero .headline-mobile-h1 {
    font-size: 2rem;
  }
  .hero .headline-mobile-h2 {
    font-size: 1.5rem;
  }
  .hero .align-items-end {
    align-items: flex-start;
  }
  .hero .form-group + .btn {
    margin-top: var(--spacing-m);
  }
  .hero h1:not(.headline-underline) .font-brand,
  .hero h2:not(.headline-underline) .font-brand {
    font-size: 1.3em;
  }
  .hero-media.vertical-padding-s {
    margin: 0;
    padding: 0;
  }
  .hero.bg-purple .hero-media {
    margin-top: 0;
  }
  .hero-cards .card-simple {
    margin-top: var(--spacing-s);
  }
}
@media (max-width: 480px) {
  .hero-bg {
    height: 200px;
  }
  .hero-bg img {
    position: absolute;
  }
  .hero.bg-image {
    background-position: calc(100% + 60px) calc(-1 * var(--spacing-s));
    background-size: 256px auto;
  }
} 
@media (min-width: 769px) {
  .hero.bg-gradient {
    background: linear-gradient(90deg, #8AF2F8, #EFFED5, #EFFED5 95%);
    color: var(--med-gray-dark);
  }
  .hero-text {
    gap: var(--spacing-xl);
  }
  .hero-text:not(.full-width) {
    max-width: calc(392px + 2 * var(--spacing-xxl));
  }
  .hero-text.text-center:not(.full-width) { 
    max-width: calc(380px + 2 * var(--spacing-xxl));
  }
  .hero-text.hero-text-medium,
  .hero-text.hero-text-medium.text-center {
    max-width: calc(424px + 2 * var(--spacing-xxl));
  }
  .hero-text.hero-text-wide,
  .hero-text.hero-text-wide.text-center {
    max-width: calc(472px + 2 * var(--spacing-xxl));
  }
  .hero-text.hero-text-extra-wide,
  .hero-text.hero-text-extra-wide.text-center {
    max-width: calc(504px + 2 * var(--spacing-xxl));
  }
  .hero-text.hero-text-extra-wide.horizontal-padding-l {
    max-width: calc(490px + 2 * var(--spacing-l));
  }
  .hero-text.full-width,
  .hero-text.horizontal-padding-l {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
  }
  .hero-mobile-badge {
    display: none;
  }
  .hero-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hero.vertical-padding-m,
  .hero-media.vertical-padding-m {
    padding-top: var(--spacing-m);
    padding-bottom: var(--spacing-m);
  }
  .hero .row.desktop-reverse {
    flex-direction: row-reverse;
  }
  .hero-text.in-line {
    max-width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .hero-enrollment {
    gap: var(--spacing-l);
  }
}
@media (min-width: 769px) and (max-width: 1215px) {
  .hero-text:not(.vertical-padding-l):not(.vertical-padding-xxl),
  .hero-media:not(.img-object-fit):not(.no-margin) {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
}
@media (min-width: 1216px) {
  .hero h1:not(.headline-underline) .font-brand {
    font-size: 1.25em;
  }
  .hero h2:not(.headline-underline) .font-brand {
    font-size: 1.47em;
  }
  .hero-text {
    padding: var(--spacing-xxl);
  }
  .hero-text.gap-3xl {
    gap: var(--spacing-3xl);
  }
  .hero-cards {
    display: flex;
    gap: var(--spacing-s);
  }
  .hero .card-simple:not(.card-small) {
    max-width: calc(400px + 2 * var(--spacing-l));
  }
}
