.list-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-content li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-xs);
  padding-top: var(--spacing-s);
  padding-bottom: var(--spacing-s);
}

.list-content i,
.list-content .badge{
  margin-top: 2px;
}

.list-content strong,
.list-content span,
.list-content small {
  display: block;
}
.list-content strong,
.list-content span {
  color: var(--med-gray-dark);
  letter-spacing: -0.01em;
  line-height: 1.2;
}
.list-content strong {
  font-size: 16px;
  font-weight: 600;
}
.list-content span:not(.badge) {
  font-size: 14px;
}
.list-content small {
  font-size: 12px;
  color: var(--med-gray);
  letter-spacing: -0.05em;
  line-height: 1.4;
}
.list-content-text {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xs);
}

ul:not([class]),
ol:not([class]) {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  line-height: 1.4;
  font-size: 16px;
}

ul:not([class]) li,
ol:not([class]) li {
  padding-top: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
}

ul:not([class]) ul:not([class]),
ol:not([class]) ol:not([class]) {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: var(--spacing-xs);
}

ul:not([class]) > li > ul:not([class]) {
  list-style: '- ';
}
ul:not([class]) > li > ul:not([class]) > li > ul:not([class]) {
  list-style: square;
}

ol:not([class]) > li > ol:not([class]) {
  list-style: lower-latin;
}
ol:not([class]) > li > ol:not([class]) > li > ol:not([class]) {
  list-style: lower-roman;
}

.doctor-results-list {
  list-style: none;
  margin: 0;
  padding: 0 0 var(--spacing-m);
}
.doctor-results-list-item {
  margin-top: var(--spacing-l);
}



.benefits-list {
  margin: 0;
  display: grid;
  list-style: none;
}

.simple-list,
.check-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.simple-list li + li {
  margin-top: var(--spacing-s);
}

.check-list li {
  position: relative;
  padding-left: 31px;
  text-align: left;
}
.check-list li + li {
  margin-top: var(--spacing-xxs);
}
.check-list li:before {
  content: '\f00c';
  position: absolute;
  left: 0;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  color: var(--cadet-dark); 
  flex-shrink: 0;
}

@media (max-width: 1024px) {
  .benefits-list {
    padding: var(--spacing-s) 0;
    row-gap: var(--spacing-l);
  }
}
@media (max-width: 639px) {
  .benefits-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 640px) and (max-width: 1024px) {
  .benefits-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
@media (min-width: 1025px) {
  .benefits-list {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 70px;
  }
}