.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-l);
}
.modal-overlay.gray {
  background-color: var(--gray-light);
}
.modal-overlay.green {
  background-color: rgba(8, 73, 70, 0.9);
}
.modal-container {
  position: relative;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-s);
}
.modal-container.small {
  max-width: 500px;
}
.modal-container:not(.small) {
  max-width: 600px;
}
.modal-container.modal-container-video {
  max-width: calc(720px + 2 * var(--spacing-m));
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  border-bottom: 0.0625rem solid var(--gray-light)
}
.modal-content {
  padding: var(--spacing-m);
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.modal-close + .modal-content {
  margin-top: var(--spacing-m);
}
.modal-content h4 {
  margin-bottom: var(--spacing-xs);
}
.modal-content p {
  color: var(--med-gray-dark);
}
.modal-icon {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-m);
}
.modal-icon img {
  display: block;
}
.modal-close {
  cursor: pointer;
}
.modal-footer {
  border-top: none;
  padding: 0 var(--spacing-m) var(--spacing-m);
}
.modal-footer .btns-group {
  width: 100%;
}
.modal-footer>* {
  margin: 0;
}
.modal-container > .modal-close {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-m);
}

.modal-video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56%;
}
.modal-video-wrap video,
.modal-video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}