.progress-wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  width: 100%;
  max-width: 320px;
}
.progress-wrap.floating-top {
  padding-top: 2.625rem;
}
.progress-wrap.floating-bottom {
  padding-bottom: 2.625rem;
}
.progress {
  height: var(--spacing-xs);
  flex: 1;
  display: flex;
  justify-content: flex-start;
  background-color: var(--gray-pale);
  border-radius: var(--border-radius-xxs);
  overflow: visible;
}
.progress-bar {
  position: relative;
  min-width: var(--spacing-xs);
  height: 100%;
  border-radius: var(--border-radius-xxs);
  transition: width 0.3s;
  background-color: var(--teal);
  overflow: visible;
}
.progress-value {
  font-size: var(--middle-font-size);
  font-weight: 500;
  color: var(--med-gray-dark);
}
.progress-wrap.inline .progress-value{
  width: 2rem;
  flex-shrink: 0;
  text-align: right;
}
.progress-wrap.bottom .progress-value {
  position: absolute;
  right: 0;
  bottom: 0;
}
.progress-wrap.bottom .progress {
  margin-bottom: calc(1.25rem + var(--spacing-xs));
}
.progress-wrap.floating-top .progress-value,
.progress-wrap.floating-bottom .progress-value {
  position: absolute;
  right: var(--spacing-xxs);
  transform: translateX(50%);
  padding: var(--spacing-xs) 0.75rem;
  box-shadow: var(--shadow-m);
  border-radius: var(--border-radius-xs);
  background-color: var(--white);
  line-height: 1;
}
.progress-wrap.floating-top .progress-value:after,
.progress-wrap.floating-bottom .progress-value:after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0.625rem;
  height: 0.625rem;
  background-color: var(--white);
  transform: translateX(-50%) rotate(45deg);
}
.progress-wrap.floating-top .progress-value:after {
  bottom: -0.3125rem;
}
.progress-wrap.floating-top .progress-value {
  bottom: calc(100% + var(--spacing-xs));
}
.progress-wrap.floating-bottom .progress-value:after {
  top: -0.3125rem;
}
.progress-wrap.floating-bottom .progress-value {
  top: calc(100% + var(--spacing-xs));
}
