.shadow-xl {
  box-shadow: var(--shadow-xl);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-s {
  box-shadow: var(--shadow-s);
}

.shadow-xl:focus,
.shadow-l:focus, 
.shadow-m:focus,
.shadow-s:focus,
.shadow-xl:hover,
.shadow-l:hover, 
.shadow-m:hover,
.shadow-s:hover,
.shadow-focus {
  outline: none;
  box-shadow: var(--shadow-focus);
}
