@import url(../css/reset.css);
@import url(../css/variables.css);
@import url(../css/colors.css);
@import url(../css/grid.css);
@import url(../css/shadows.css);
@import url(../css/example.css);

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

* {
  transition: all 0.3s;
}

html,
body {
  min-height: 100vh;
}

/***** Rounded *****/
.rounded {
  border-radius: var(--spacing-xs);
}