.toggle {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}
.toggle-right {
  flex-direction: row-reverse;
}
.toggle input {
  position: absolute;
  opacity: 0;
}
.toggle-text {
  color: var(--teal);
  font-size: var(--main-font-size);
}
.toggle-icon {
  position: relative;
  background-color: var(--gray-light);
  border-radius: 1.375rem;
  cursor: pointer;
  transition: all 0.3s;
}
.toggle-icon:hover {
  background-color: var(--gray);
}
.toggle-icon:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.125rem;
  content: '';
  background-color: var(--white);
  box-shadow: 0 0.0625rem 0.1875rem rgba(10, 13, 18, 0.1), 0 0.0625rem 0.125rem rgba(10,13, 18, 0.06);
  border-radius: 50%;
  transition: all 0.3s;
}
.toggle-small .toggle-icon {
  width: 2.25rem;
  height: 1.25rem;
}
.toggle-small .toggle-icon:after {
  width: var(--spacing-s);
  height: var(--spacing-s);
}
.toggle-medium .toggle-icon {
  width: 2.75rem;
  height: var(--spacing-m);
}
.toggle-medium .toggle-icon:after {
  width: 1.25rem;
  height: 1.25rem;
}
.toggle input:checked + .toggle-icon {
  background-color: var(--teal-dark); 
}
.toggle input:checked + .toggle-icon:hover {
  background-color: var(--teal);
}
.toggle-small input:checked + .toggle-icon:after {
  left: calc(100% - 0.125rem - 1rem);
}
.toggle-medium input:checked + .toggle-icon:after {
  left: calc(100% - 0.125rem - 1.25rem);
}
.toggle:focus-within .toggle-icon {
  box-shadow: var(--shadow-focus);
}
.toggle input[disabled] + .toggle-icon {
  background-color: var(--gray-pale);
}
.toggle input:checked[disabled] + .toggle-icon {
  background-color: var(--teal-pale);
}
.toggle input[disabled] + .toggle-icon + .toggle-text {
  color: var(--alert-disabled);
}