.text-black {
  color: var(--black);
}
.text-teal {
  color: var(--teal);
}
.text-teal-dark {
  color: var(--teal-dark);
}
.text-med-gray  {
  color: var(--med-gray);
}
.text-red {
  color: var(--alert-danger);
}

.internal-link,
.external-link {
  font-weight: 700;
  text-decoration: none;
  color: var(--teal);
  display: inline-flex;
  gap: 10px;
}