:root {
  --teal: #0A5B58;
  --teal-dark: #02786E;
  --teal-light: #66C7C3;
  --teal-pale: #C2EBE8;

  --dark-teal: #084946;
  --dark-teal-2: #042927;
  --dark-teal-3: #8CC7C3;
  --dark-teal-4: #CFDBDA;

  --cadet: #3DB1AD;
  --cadet-dark: #026E78;
  --cadet-light: #8BD8D5;
  --cadet-pale: #D8F0F0;

  --med-gray: #6C757D;
  --med-gray-dark: #343434;
  --med-gray-light: #A3A6A9;

  --gray: #C7C8CA;
  --gray-light: #E4E4E4;
  --gray-pale: #F3F3F3;

  --green: #00704A;
  --green-2: #10AC77;
  --green-3: #72CFAF;
  --green-4: #D1F2E7;

  --dark-green: #005736;
  --dark-green-2: #002A1A;
  --dark-green-3: #6FAC95;
  --dark-green-4: #CCDED8;

  --light-grass: #B5DEC8;
  --light-grass-2: #97CB97;
  --light-grass-3: #D4EFD4;
  --light-grass-4: #F5FBF5;

  --med-grass: #8DAE81;
  --med-grass-2: #BAD4B4;
  --med-grass-3: #D1E0CC;
  --med-grass-4: #E7F0E5;

  --dark-grass: #3C763D;
  --dark-grass-2: #A6C6A9;
  --dark-grass-3: #C4DAC4;
  --dark-grass-4: #E1EBE1;

  --purple: #987EC1;
  --purple-dark: #5C4580;
  --purple-light: #CEC1EA;
  --purple-pale: #EFE9FC;

  --yellow: #FFCC3B;
  --yellow-2: #D3A42D;
  --yellow-3: #FFF2B5;

  --orange: #E76F1F;
  --orange-2: #A65523;
  --orange-3: #EFC0A0;

  --red: #9B3F34;
  --red-2: #622128;
  --red-3: #BD625E;
  --red-4: #F59FC0;

  --white: #fff;
  --black: #000;

  --alert-font-size: 16px;

  --alert-info: #48A3FC;
  --alert-info-bg: #F0F7FF;
  --alert-info-text: #31708F;
  --alert-info-border: rgba(49,112,143,0.15);

  --alert-success: #12B76A;
  --alert-success-bg: #ECFDF3;
  --alert-success-text: #3C763D;
  --alert-success-border: rgba(60,118,61,0.15);

  --alert-warning: #FFAA00;
  --alert-warning-bg: #FFF7E6;
  --alert-warning-text: #8C5E00;
  --alert-warning-border: rgba(138,109,59,0.15);

  --alert-danger: #D92D20;
  --alert-danger-bg: #FEF4F4;
  --alert-danger-text: #6C1610;
  --alert-danger-border: rgba(108,22,16,0.16);

  --alert-general-bg: #FCF9F0;
  --alert-general-text: #343A40;
  --alert-general-border: rgba(108,117,125,0.15);

  --alert-disabled: #343A40;
  --alert-disabled-gray: #6F7176;
  --alert-disabled-light-gray: #B6BCC3;
  --alert-disabled-pale-gray: #F3F3F3;

  --spacing-xs: 8px;
  --spacing-s: 16px; 
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;
  --spacing-5xl: 128px;
  --spacing-6xl: 160px;
  --spacing-7xl: 192px;

  --shadow-focus: 0 0 0 2px #8BD8D5;

  --border-radius-xxs: 4px;
  --border-radius-xs: 8px;
  --border-radius-s: 16px;

  
}
@media (max-width: 1024px) {
  :root {
    --gap: 24px;
  }
} 
@media (max-width: 768px) {
  :root {
    --gutter: 16px;
  }
}
@media (min-width: 769px) {
  :root {
    --gutter: 24px;
  }
}
@media (min-width: 1024px) {
  :root {
    --gap: 32px;
  }
} 