:root {
  --teal: #0A5B58;
  --teal-dark: #02786E;
  --teal-light: #66C7C3;
  --teal-pale: #C2EBE8;

  --dark-teal: #084946;
  --dark-teal-dark: #042927;
  --dark-teal-light: #8CC7C3;
  --dark-teal-pale: #CFDBDA;

  --cadet: #3DB1AD;
  --cadet-dark: #026E78;
  --cadet-light: #8BD8D5;
  --cadet-pale: #D8F0F0;

  --med-gray: #6C757D;
  --med-gray-dark: #343434;
  --med-gray-light: #A3A6A9;

  --gray: #C7C8CA;
  --gray-light: #E4E4E4;
  --gray-pale: #F3F3F3;

  --green: #00704A;
  --green-dark: #10AC77;
  --green-light: #72CFAF;
  --green-pale: #D1F2E7;

  --dark-green: #005736;
  --dark-green-dark: #002A1A;
  --dark-green-light: #6FAC95;
  --dark-green-pale: #CCDED8;

  --light-grass: #B5DEC8;
  --light-grass-dark: #97CB97;
  --light-grass-light: #D4EFD4;
  --light-grass-pale: #F5FBF5;

  --med-grass: #8DAE81;
  --med-grass-dark: #BAD4B4;
  --med-grass-light: #D1E0CC;
  --med-grass-pale: #E7F0E5;

  --dark-grass: #3C763D;
  --dark-grass-dark: #A6C6A9;
  --dark-grass-light: #C4DAC4;
  --dark-grass-pale: #E1EBE1;

  --purple: #987EC1;
  --purple-dark: #5C4580;
  --purple-extra-dark: #431C75;
  --purple-light: #CEC1EA;
  --purple-pale: #EFE9FC;

  --yellow: #FFCC3B;
  --yellow-dark: #D3A42D;
  --yellow-light: #FFF2B5;

  --orange: #E76F1F;
  --orange-dark: #A65523;
  --orange-light: #EFC0A0;

  --red: #9B3F34;
  --red-dark: #622128;
  --red-light: #BD625E;
  --red-pale: #F59FC0;

  --white: #fff;
  --black: #000;

  --alert-font-size: 16px;

  --alert-info: #48A3FC;
  --alert-info-pale: #F0F7FF;
  --alert-info-dark: #31708F;
  --alert-info-border: rgba(49,112,143,0.15);

  --alert-success: #12B76A;
  --alert-success-pale: #ECFDF3;
  --alert-success-dark: #3C763D;
  --alert-success-border: rgba(60,118,61,0.15);

  --alert-warning: #FFAA00;
  --alert-warning-pale: #FFF7E6;
  --alert-warning-dark: #8C5E00;
  --alert-warning-border: rgba(138,109,59,0.15);

  --alert-danger: #D92D20;
  --alert-danger-pale: #FEF4F4;
  --alert-danger-dark: #6C1610;
  --alert-danger-border: rgba(108,22,16,0.16);

  --alert-general-bg: #FCF9F0;
  --alert-general-text: #343A40;
  --alert-general-border: rgba(108,117,125,0.15);

  --alert-disabled-dark: #343A40;
  --alert-disabled: #6F7176;
  --alert-disabled-light: #B6BCC3;
  --alert-disabled-pale: #F3F3F3;

  --results-list-bg: #FAFAFA;
  --table-stroke: #E9EAEB;
  --table-disabled: #FDFDFD;

  --rating-star: #FDB022;

  --placeholder: #979797;

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px; 
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
  --spacing-xxl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;
  --spacing-5xl: 128px;
  --spacing-6xl: 160px;
  --spacing-7xl: 192px;

  --shadow-focus: 0 0 0 2px #8BD8D5;
  --shadow-s: 0 0 10px rgba(21, 21, 21, 0.02), 0 2px 4px rgba(21,21, 21, 0.08); 
  --shadow-m: 0 1px 2px rgba(21, 21, 21, 0.02), 0 4px 8px rgba(0, 0, 0, 0.08);
  --shadow-l: 0 1px 4px rgba(21, 21, 21, 0.02), 0 8px 12px rgba(0, 0, 0, 0.08);
  --shadow-xl: 0 0 20px rgba(21, 21, 21, 0.05), 0 10px 20px rgba(0, 0, 0, 0.12);

  --border-radius-xxs: 4px;
  --border-radius-xs: 8px;
  --border-radius-s: 16px;
  --border-radius-m: 24px;
  
}
@media (max-width: 1024px) {
  :root {
    --gap: 24px;
  }
} 
@media (max-width: 768px) {
  :root {
    --gutter: 16px;
  }
}
@media (min-width: 769px) {
  :root {
    --gutter: 24px;
  }
}
@media (min-width: 1024px) {
  :root {
    --gap: 32px;
  }
} 