<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Tabs - Viva Design System</title>

  <link rel="stylesheet" href="../../bootstrap-5.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <header class="example-header">
    <div class="container">
      <h1>Tabs</h1>
      <p>
        Tabs organize similar content together into individual sections in the same page and let users switch between views easily.
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>

  <div class="example-content">
    <div class="container">
      <div class="example-headline">
        <h2>Tabs</h2>
        <p>Used to switch between views within the same context.</p>
      </div>

      <div>
        <h3>Tabs</h3>

        <br>

        <div class="example-tabs">
          <div class="row">
            <div class="col">
              <div class="tabs-navs brands">
                <a href="#" class="tabs-nav">Brand Default Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-hover">Brand Default Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-focus">Brand Default Tab Focus Tab<span class="tabs-counter">3</span></a>
              </div>
            </div>
            <div class="col">
              <div class="tabs-navs brands">
                <a href="#" class="tabs-nav active">Brand Active Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-hover">Brand Active Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-focus">Brand Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
          </div>

          <br>
          <br>


          <div class="row">
            <div class="col">
              <div class="tabs-navs underline">
                <a href="#" class="tabs-nav">Underline Default Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-hover">Underline Default Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-focus">Underline Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
            <div class="col">
              <div class="tabs-navs underline">
                <a href="#" class="tabs-nav active">Underline Active Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-hover">Underline Active Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-focus">Underline Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="row vertical">
            <div class="col">
              <div class="tabs-navs underline">
                <a href="#" class="tabs-nav">Underline Vertical Default Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-hover">Underline Vertical Default Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-focus">Underline Vertical Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
            <div class="col">
              <div class="tabs-navs underline">
                <a href="#" class="tabs-nav active">Underline Vertical Active Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-hover">Underline Vertical Active Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-focus">Underline Vertical Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="row">
            <div class="col">
              <div class="tabs-navs enclosed">
                <a href="#" class="tabs-nav">Enclosed Default Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-hover">Enclosed Default Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav example-focus">Enclosed Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
            <div class="col">
              <div class="tabs-navs enclosed">
                <a href="#" class="tabs-nav active">Enclosed Active Tab<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-hover">Enclosed Active Tab Hover<span class="tabs-counter">3</span></a>
                <a href="#" class="tabs-nav active example-focus">Enclosed Default Tab Focus<span class="tabs-counter">3</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div>
        <h2>Horizontal Tabs</h2>
        
        <br>
        <br>

        <div>
          <h3>Brands</h3>

          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs brands">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i> Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              <a href="#tab6" class="tabs-nav js-tab-link">Tab 6</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs brands">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>

          <br>
          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs brands full-width">
              <a href="#tab1" class="tabs-nav active js-tab-link">Active Tab<i class="fa-regular fa-house"></i></a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4 <span class="tabs-counter">3</span></a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs brands full-width">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div>
          <h3>Underline</h3>

          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs underline">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i> Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              <a href="#tab6" class="tabs-nav js-tab-link">Tab 6</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs underline">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>

          <br>
          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs underline full-width">
              <a href="#tab1" class="tabs-nav active js-tab-link">Active Tab<i class="fa-regular fa-house"></i></a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4 <span class="tabs-counter">3</span></a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs underline full-width">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div>
          <h3>Enclosed (White)</h3>

          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs enclosed">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i> Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              <a href="#tab6" class="tabs-nav js-tab-link">Tab 6</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs enclosed">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>

          <br>
          <br>

          <div class="tabs js-tabs">
            <div class="tabs-navs enclosed full-width">
              <a href="#tab1" class="tabs-nav active js-tab-link">Active Tab<i class="fa-regular fa-house"></i></a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs js-tabs">
  &lt;div class="tabs-navs enclosed full-width">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>

        </div>
      </div>

      <br>
      <br>
      <br>

      <div>
        <h3>Vertical Tabs</h3>

        <br>
        <br>

        <div>
          <h3>Brands</h3>

          <br>

          <div class="tabs vertical js-tabs">
            <div class="tabs-navs brands">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i>Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              <a href="#tab6" class="tabs-nav js-tab-link">Tab 6</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs vertical js-tabs">
  &lt;div class="tabs-navs brands">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div>
          <h3>Underline</h3>

          <br>

          <div class="tabs vertical js-tabs">
            <div class="tabs-navs underline">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i>Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs vertical js-tabs">
  &lt;div class="tabs-navs underline">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div>
          <h3>Enclosed (White)</h3>

          <br>

          <div class="tabs vertical js-tabs">
            <div class="tabs-navs enclosed">
              <a href="#tab1" class="tabs-nav active js-tab-link"><i class="fa-regular fa-house"></i>Active Tab</a>
              <a href="#tab2" class="tabs-nav js-tab-link">Tab 2</a>
              <a href="#tab3" class="tabs-nav js-tab-link">Tab 3</a>
              <a href="#tab4" class="tabs-nav js-tab-link">Tab 4</a>
              <a href="#tab5" class="tabs-nav js-tab-link">Tab 5 <span class="tabs-counter">3</span></a>
              <a href="#tab6" class="tabs-nav js-tab-link">Tab 6</a>
            </div>
            <div class="tabs-contents">
              <div class="tabs-content active js-tab-content" id="tab1">
                <h4>Tab 1</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Reiciendis facere sint minus id doloremque libero praesentium 
                  ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
                  obcaecati, assumenda autem laborum.
                </p>
              </div>
              <div class="tabs-content js-tab-content" id="tab2">
                <h4>Tab 2</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab3">
                <h4>Tab 3</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab4">
                <h4>Tab 4</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab5">
                <h4>Tab 5</h4>
              </div>
              <div class="tabs-content js-tab-content" id="tab6">
                <h4>Tab 6</h4>
              </div>
            </div>
          </div>

          <br>

          <div class="example-html">
            <div class="example-html-head">
              <div>HTML</div>
              <button class="copy-btn" onclick="copyText(this)">Copy</button>
            </div>
            <div class="example-html-body">
<pre>
<code data-lang="html" class="copy-content">&lt;div class="tabs vertical js-tabs">
  &lt;div class="tabs-navs enclosed">
    &lt;a href="#tab1" class="tabs-nav active js-tab-link">&lt;i class="fa-regular fa-house">&lt;/i> Active Tab&lt;/a>
    &lt;a href="#tab2" class="tabs-nav js-tab-link">Tab 2&lt;/a>
    &lt;a href="#tab3" class="tabs-nav js-tab-link">Tab 3&lt;/a>
    &lt;a href="#tab4" class="tabs-nav js-tab-link">Tab 4&lt;/a>
    &lt;a href="#tab5" class="tabs-nav js-tab-link">Tab 5 &lt;span class="tabs-counter">3&lt;/span>&lt;/a>
    &lt;a href="#tab6" class="tabs-nav js-tab-link">Tab 6&lt;/a>
  &lt;/div>
  &lt;div class="tabs-contents">
    &lt;div class="tabs-content active js-tab-content" id="tab1">
      &lt;h4>Tab 1&lt;/h4>
      &lt;p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Reiciendis facere sint minus id doloremque libero praesentium 
        ullam omnis voluptatum quas porro veritatis, saepe illo laboriosam harum, 
        obcaecati, assumenda autem laborum.
      &lt;/p>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab2">
      &lt;h4>Tab 2&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab3">
      &lt;h4>Tab 3&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab4">
      &lt;h4>Tab 4&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab5">
      &lt;h4>Tab 5&lt;/h4>
    &lt;/div>
    &lt;div class="tabs-content js-tab-content" id="tab6">
      &lt;h4>Tab 6&lt;/h4>
    &lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
  
  <script src="../../js/jquery-3.7.1.min.js"></script>
  <script src="../../bootstrap-5.3.7/js/bootstrap.min.js"></script>
  <script src="../../bootstrap-5.3.7/js/bootstrap.bundle.min.js"></script>
  <script src="tabs.js"></script>
  <script src="../../js/copyText.js"></script>
</body>
</html>