.toastify {
  max-width: 340px;
}
.toastify.on {
  border-radius: 6px;
  gap: 12px
}
.toastify:before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  flex-shrink: 0;
  float: left;
}
.toastify.info {
  background: var(--alert-info-pale);
  color: var(--alert-info-dark);
  border: 1px solid var(--alert-info-border);
}
.toastify.danger {
  background: var(--alert-danger-pale);
  color: var(--alert-danger-dark);
  border: 1px solid var(--alert-danger-border);
}
.toastify.success {
  background: var(--alert-success-pale);
  color: var(--alert-success-dark);
  border: 1px solid var(--alert-success-border);
}
.toastify.warning {
  background: var(--alert-warning-pale);
  color: var(--black);
  border: 1px solid var(--alert-warning-border);
}
.toastify.info:before {
  background-image: url(../alert/icons/info.svg);
}
.toastify.danger:before {
  background-image: url(../alert/icons/danger.svg);
}
.toastify.success:before {
  background-image: url(../alert/icons/success.svg);
}
.toastify.warning:before {
  background-image: url(../alert/icons/warning-circle.svg);
}
.toastify .toast-close {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: inherit; 
  opacity: 1;
  gap: 4px;
}
.toastify .toast-close:after {
  content: 'Undo';
  font-weight: 700;
  font-size: 15px;
}
.toast-text-hidden {
  display: none;
}
.toast-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
.toastify p {
  font-size: 14px;
  line-height: 16px;
}
.toastify strong {
  font-size: 15px;
  line-height: 20px;
  display: block;
}


