<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Toasts - Viva Design System</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="toastify.min.css">
</head>
<body>

  <header class="example-header">
    <div class="container">
      <h1>Toasts</h1>
      <p>
        
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>

  <div class="example-content">
    <div class="container">
      <div class="row">
        <div class="carousel-wrap">
          <div class="js-single-slider">
            <div>1 Slide</div>
            <div>2 Slide</div>
            <div>3 Slide</div>
          </div>
        </div>
      </div>
      <br>
      <br>
      
    </div>
  </div>
  
  <script src="../../js/jquery-3.7.1.min.js"></script>
  <script src="toastify.js"></script>
  <script src="carousel.js"></script>
</body>
</html>