<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Inputs & Form - Viva Design System</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../tooltips/toastify/toastify.min.css">
</head>
<body>
  <header class="example-header">
    <div class="container">
      <h1>Inputs & Forms</h1>
      <p>
        The Input components are a group of related input controls that allow users to provide data or configure options within a form.
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>
  <div class="example-content bg-white">
    <div class="container">
      <div class="example-headline">
        <h2>Inputs</h2>
        <p>Used as a group of related input controls that allow users to provide data or configure options.</p>
      </div>

      
      <div class="example-headline">
        <h2>Form Elements</h2>
        <p>Used for multi-select or single-select options within a form.</p>
      </div>

      <h4>Radio Buttons with Text</h4>
      <div class="example-form-element">
        <div class="custom-radio">
          <input type="radio" id="default" name="default" value="default">
          <label for="default">Default Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="selected" name="default" value="selected" checked>
          <label for="selected">Selected Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="disabled" name="disabled" value="disabled" disabled>
          <label for="disabled">Disabled Selected Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="disabled-selected" name="disabled" value="disabled-selected" disabled checked>
          <label for="disabled-selected">Disabled Radio Option</label>
        </div>
      </div> 

      <h4>Radio with Label</h4>

      <div class="example-form-element">
        <label>This is an example of a question? <span class="text-red">*</span></label>
        <div class="row">
          <div class="col">
            <div class="custom-radio">
              <input type="radio" id="option11" name="option-in-row" value="option11">
              <label for="option11">Option 1</label>
            </div>
          </div>
          <div class="col">
            <div class="custom-radio">
              <input type="radio" id="option22" name="option-in-row" value="option22">
              <label for="option22">Option 2</label>
            </div>
          </div>
        </div>
      </div>

      <div class="example-form-element">
        <label>This is an example of a question? <span class="text-red">*</span></label>
        <div class="custom-radio">
          <input type="radio" id="option1" name="option" value="option1">
          <label for="option1">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="option2" name="option" value="option2">
          <label for="option2">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="option3" name="option" value="option3">
          <label for="option3">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="radio" id="option4" name="option" value="option4">
          <label for="option4">Option 1</label>
        </div>
      </div>

      <br>
      <br>
      <br>

      <h4>Checkbox with Text</h4>
      <div class="example-form-element">
        <div class="custom-radio">
          <input type="checkbox" id="default-checkbox" name="default-checkbox" value="default-checkbox">
          <label for="default-checkbox">Default Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="selected-checkbox" name="default-checkbox" value="selected-checkbox" checked>
          <label for="selected">Selected Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="disabled-checkbox" name="disabled-checkbox" value="disabled-checkbox" disabled>
          <label for="disabled">Disabled Selected Radio Option</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="disabled-selected-checkbox" name="disabled-checkbox" value="disabled-selected-checkbox" disabled checked>
          <label for="disabled-selected-checkbox">Disabled Radio Option</label>
        </div>
      </div> 

      <h4>Radio with Label</h4>

      <div class="example-form-element">
        <label>This is an example of a question? <span class="text-red">*</span></label>
        <div class="row">
          <div class="col">
            <div class="custom-radio">
              <input type="checkbox" id="option-checkbox11" name="option-checkbox-in-row" value="option-checkbox11">
              <label for="option-checkbox11">Option 1</label>
            </div>
          </div>
          <div class="col">
            <div class="custom-radio">
              <input type="checkbox" id="option-checkbox22" name="option-checkbox-in-row" value="option-checkbox22">
              <label for="option-checkbox22">Option 2</label>
            </div>
          </div>
        </div>
      </div>

      <div class="example-form-element">
        <label>This is an example of a question? <span class="text-red">*</span></label>
        <div class="custom-radio">
          <input type="checkbox" id="option-checkbox1" name="option-checkbox" value="option-checkbox1">
          <label for="option-checkbox1">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="option-checkbox2" name="option-checkbox" value="option-checkbox2">
          <label for="option-checkbox2">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="option-checkbox3" name="option-checkbox" value="option-checkbox3">
          <label for="option-checkbox3">Option 1</label>
        </div>
        <div class="custom-radio">
          <input type="checkbox" id="option-checkbox4" name="option-checkbox" value="option-checkbox4">
          <label for="option-checkbox4">Option 1</label>
        </div>
      </div>
    </div>
  </div>

  <script src="../tooltips/toastify/popper.min.js"></script>
  <script src="../tooltips/toastify/tippy-bundle.umd.js"></script>
  <script src="inputs-form.js"></script>
  <script src="../../js/copyText.js"></script>
</body>
</html>