.simple-carousel {
  width: 100%;
}
.simple-carousel img,
.preview-carousel img {
  border-radius: var(--border-radius-xs);
}
.simple-carousel:not(.full-width-carousel) {
  max-width: calc(364px + 80px);
}
.preview-carousel:not(.full-width-carousel) {
  max-width: 375px;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: var(--med-gray-dark);
  opacity: 0.5;
  transition: all 0.3s;
}
.owl-carousel .owl-prev {
  left: 0;
}
.owl-carousel .owl-next {
  right: 0;
}
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
  opacity: 1;
}

.owl-carousel.preview-carousel .owl-prev, 
.owl-carousel.preview-carousel .owl-next {
  top: auto;
  transform: translateY(0);
}

.owl-carousel.preview-carousel .owl-prev {
  left: auto;
}
.owl-carousel.preview-carousel .owl-next {
  right: auto;
}

.owl-carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-s);
}
.owl-carousel .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-dots .owl-dot:after {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--gray);
  transition: all 0.3s;
}
.owl-carousel .owl-dots .owl-dot.active:after {
  width: 12px;
  height: 12px;
}
.owl-carousel .owl-dots .owl-dot:hover:after,
.owl-carousel .owl-dots .owl-dot.active:after {
  background-color: var(--cadet);
}

.owl-carousel .owl-item .benefits-card {
  background-color: var(--light-grass-pale);
  box-shadow: none;
}
.owl-carousel:not(.simple-carousel):not(.preview-carousel) .owl-item img {
  max-width: 100%;
  width: auto;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



@media (max-width: 1024px) {
  .owl-carousel .owl-dots .owl-dot {
    width: 40px;
    height: 40px;
  }

  .owl-carousel.preview-carousel .owl-prev {
    right: calc(50% + 60px + var(--spacing-xs));
    bottom: 0;
  }
  .owl-carousel.preview-carousel .owl-next {
    left: calc(50% + 60px + var(--spacing-xs));
    bottom: 0;
  }
  .testimonial-text {
    gap: var(--spacing-l);
  }
}
@media (min-width: 1025px) {
  .owl-carousel {
    padding-left: 40px;
    padding-right: 40px;
  }
  .owl-carousel.preview-carousel {
    padding-left: 0;
    padding-right: 0;
  }

  .owl-carousel.preview-carousel .owl-prev {
    right: calc(50% + 30px + var(--spacing-xs));
    bottom: -10px;
  }
  .owl-carousel.preview-carousel .owl-next {
    left: calc(50% + 30px + var(--spacing-xs));
    bottom: -10px;
  }

  .testimonial-text {
    gap: var(--spacing-xl);
  }
}