.custom-calendar {
  position: relative;
}
.custom-calendar .daterangepicker .drp-calendar.right {
  position: absolute;
  right: 0;
}
.custom-calendar .daterangepicker .drp-calendar.right .calendar-table tbody,
.custom-calendar .daterangepicker .drp-calendar.right .calendar-table thead tr:last-child,
.custom-calendar .daterangepicker .drp-calendar.right .calendar-table thead tr:first-child th:nth-child(2),
.custom-calendar .daterangepicker .drp-selected {
  display: none;
}
.custom-calendar .daterangepicker .drp-buttons {
  display: flex;
  justify-content: space-between;
}
.custom-calendar .daterangepicker .drp-buttons .btn {
  margin: 0;
}


.air-datepicker .air-datepicker-time .air-datepicker-time--sliders {
  display: flex;
}