<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendar - Viva Design System</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="./js/air-datepicker.css">
  <!-- <link rel="stylesheet" href="./js/daterangepicker.css"> -->
  <link rel="stylesheet" href="calendar.css">
</head>
<body>

  <header class="example-header">
    <div class="container">
      <h1>Calendar</h1>
      <p>
        
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>

  <div class="example-content">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="input-single-calendar">Single Date Picker</label>
            <div class="calendar-wrap">
              <input type="text" id="input-single-calendar" name="input-single-calendar" class="form-field single-calendar" placeholder="mm/dd/yyyy" required /> 
              <i class="fa-regular fa-calendar"></i>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="input-range-calendar">Range Date Picker</label>
            <div class="calendar-wrap">
              <input type="text" id="input-range-calendar" name="input-range-calendar" class="form-field range-calendar" placeholder="mm/dd/yyyy" required /> 
              <i class="fa-regular fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="input-single-timeline-calendar">Single Timeline Date Picker</label>
            <div class="calendar-wrap">
              <input type="text" id="input-single-timeline-calendar" name="input-single-timeline-calendar" class="form-field single-timeline-calendar" placeholder="mm/dd/yyyy" required /> 
              <i class="fa-regular fa-calendar"></i>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label class="form-label" for="input-range-timeline-calendar">Range Timeline Date Picker</label>
            <div class="calendar-wrap">
              <input type="text" id="input-range-timeline-calendar" name="input-range-timeline-calendar" class="form-field range-timeline-calendar" placeholder="mm/dd/yyyy" required /> 
              <i class="fa-regular fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="../../js/jquery-3.7.1.min.js"></script>
  <!-- <script src="./js/moment.min.js"></script> -->
  <!-- <script src="./js/daterangepicker.min.js"></script> -->
  <script src="./js/air-datepicker.js"></script>  
  <script src="./js/calendar.js"></script>
</body>
</html>