<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Tooltips - Viva Design System</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="toastify/toastify.min.css">
</head>
<body>
  <header class="example-header">
    <div class="container">
      <h1>Tooltips</h1>
      <p>
        Tooltips are used to describe or identify an element. In most scenarios, tooltips help the user understand the meaning or function of an icon, or display the alt text of an image.
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>
  <div class="example-content bg-white">
    <div class="container">
      <div class="example-headline">
        <h2>Tooltips</h2>
        <p>Used to help the user understand the meaning or function of an element.</p>
      </div>

      <div class="example-tooltips">
        <h4 class="text-red">Tooltip Base</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top-start">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="top-end">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="green" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>
        <br>

        <h4 class="text-red">Tooltip green with supporting text</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-template="tooltip-top-support-text" data-tippy-theme="green" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-support-text" data-tippy-theme="green" data-tippy-placement="top">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-template="tooltip-top-start-support-text" data-tippy-theme="green" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-start-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-start-support-text" data-tippy-theme="green" data-tippy-placement="top-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-start-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-template="tooltip-top-end-support-text" data-tippy-theme="green" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-end-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-end-support-text" data-tippy-theme="green" data-tippy-placement="top-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-end-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-template="tooltip-bottom-support-text" data-tippy-theme="green" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-support-text" data-tippy-theme="green" data-tippy-placement="bottom">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-template="tooltip-bottom-start-support-text" data-tippy-theme="green" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-start-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-start-support-text" data-tippy-theme="green" data-tippy-placement="bottom-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-start-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-template="tooltip-bottom-end-support-text" data-tippy-theme="green" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-end-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-end-support-text" data-tippy-theme="green" data-tippy-placement="bottom-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-end-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-template="tooltip-right-support-text" data-tippy-theme="green" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-right-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-right-support-text" data-tippy-theme="green" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-right-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-template="tooltip-left-support-text" data-tippy-theme="green" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-left-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-left-support-text" data-tippy-theme="green" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-left-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>

        <br>
        <br>
        <br>

        <h4 class="text-red">Tooltip Base. Theme: black</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top-start">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="top-end">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="black" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          
        </div>
        
        <br>
        <br>
        <br>

        <h4 class="text-red">Tooltip black with supporting text</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-template="tooltip-top-black-support-text" data-tippy-theme="black" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-black-support-text" data-tippy-theme="black" data-tippy-placement="top">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-template="tooltip-top-start-black-support-text" data-tippy-theme="black" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-start-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-start-black-support-text" data-tippy-theme="black" data-tippy-placement="top-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-start-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-template="tooltip-top-end-black-support-text" data-tippy-theme="black" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-end-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-end-black-support-text" data-tippy-theme="black" data-tippy-placement="top-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-end-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-template="tooltip-bottom-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-template="tooltip-bottom-start-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-start-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-start-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-start-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-template="tooltip-bottom-end-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-end-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-end-black-support-text" data-tippy-theme="black" data-tippy-placement="bottom-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-end-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-template="tooltip-right-black-support-text" data-tippy-theme="black" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-right-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-right-black-support-text" data-tippy-theme="black" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-right-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-template="tooltip-left-black-support-text" data-tippy-theme="black" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-left-black-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-left-black-support-text" data-tippy-theme="black" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-left-black-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>
        
        <br>
        <br>
        <br>

        <h4 class="text-red">Tooltip Base. Theme: white</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top-start">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="top-end">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="bottom">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-tippy-content="This is a Tooltip" data-tippy-theme="white" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span></code>
</pre>
            </div>
          </div>
          
        </div>
        
        <br>
        <br>
        <br>

        <h4 class="text-red">Tooltip white with supporting text</h4>
        <br>
        <div class="row row-cols-4">
          <div class="col">
            Placement: top
            <span data-template="tooltip-top-white-support-text" data-tippy-theme="white" data-tippy-placement="top">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-white-support-text" data-tippy-theme="white" data-tippy-placement="top">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top start
            <span data-template="tooltip-top-start-white-support-text" data-tippy-theme="white" data-tippy-placement="top-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-start-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-start-white-support-text" data-tippy-theme="white" data-tippy-placement="top-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-start-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: top end
            <span data-template="tooltip-top-end-white-support-text" data-tippy-theme="white" data-tippy-placement="top-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-top-end-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-top-end-white-support-text" data-tippy-theme="white" data-tippy-placement="top-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-top-end-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom
            <span data-template="tooltip-bottom-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom start
            <span data-template="tooltip-bottom-start-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom-start">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-start-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-start-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom-start">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-start-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: bottom end
            <span data-template="tooltip-bottom-end-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom-end">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-bottom-end-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
  <code>&lt;span data-template="tooltip-bottom-end-white-support-text" data-tippy-theme="white" data-tippy-placement="bottom-end">
    &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
  &lt;/span>
  &lt;div id="tooltip-bottom-end-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: right
            <span data-template="tooltip-right-white-support-text" data-tippy-theme="white" data-tippy-placement="right">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-right-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-right-white-support-text" data-tippy-theme="white" data-tippy-placement="right">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-right-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
          <div class="col">
            Placement: left
            <span data-template="tooltip-left-white-support-text" data-tippy-theme="white" data-tippy-placement="left">
              <i class="fa-regular fa-circle-question text-teal"></i>
            </span>
            <div id="tooltip-left-white-support-text" class="tooltip-content">
              <p><strong>This is a Tooltip</strong></p>
              <p>
                Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
              </p>
            </div>
            <br>
            <br>
            <div class="example-html example-columns rounded">
<pre>
<code>&lt;span data-template="tooltip-left-white-support-text" data-tippy-theme="white" data-tippy-placement="left">
  &lt;i class="fa-regular fa-circle-question text-teal">&lt;/i>
&lt;/span>
&lt;div id="tooltip-left-white-support-text" class="tooltip-content">
  &lt;p>&lt;strong>This is a Tooltip&lt;/strong>&lt;/p>
  &lt;p>
    Tooltips are used to describe or identify an element. They help the user understand the meaning or function of an element.
  &lt;/p>
&lt;/div></code>
</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="toastify/popper.min.js"></script>
  <script src="toastify/tippy-bundle.umd.js"></script>
  <script src="tooltips.js"></script>
  <script src="../../js/copyText.js"></script>
</body>
</html>