<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <title>Filter & Sort - Viva Design System</title>

  <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
  <header class="example-header">
    <div class="container">
      <h1>Filter & Sort</h1>
      <p>
        Filtering & sorting is compromised of the badge component and used to organize and sort content.
      </p>
      <a href="../../index.html">
        <img src="../../img/Logomark.png" alt="">
      </a>
    </div>
  </header>
  <div class="example-content bg-white">
    <div class="container">
      <div class="example-headline">
        <h2>Filter & Sort</h2>
        <p>Used to organize or sort content</p>
      </div>
      <div class="example-badges">

        <div class="example-filter-row">
          <div class="text-bold">
            <h3>Filter</h3>
          </div>
          <br>
          <div class="example-badges-row example-badges-row-bottom">
            <div class="example-column">
              <div class="text-red text-bold">
                Dismissible
              </div>
              <div>
                <span class="badge badge-primary">
                  Primary Care Providers
                  <i class="fa-solid fa-xmark"></i>
                </span>
              </div>
            </div>
    
            <div class="example-column">
              <div class="text-red text-bold">
                Selectable <br>
                Selected
              </div>
              <div>
                <span class="badge badge-primary">
                  $0 Copay
                </span>
              </div>
            </div>
    
            <div class="example-column">
              <div class="text-red text-bold">
                Not Selected
              </div>
              <div>
                <span class="badge badge-gray">
                  Worldwide Coverage
                </span>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="example-html example-columns rounded">
          <div>
<pre>
<code>&lt;span class="badge badge-primary">
  Primary Care Providers
  &lt;i class="fa-solid fa-xmark">&lt;/i>
&lt;/span></code>
</pre>
          </div>
          <div>
<pre>
<code>&lt;span class="badge badge-primary">
  $0 Copay
&lt;/span></code>
</pre>
          </div>
          <div>
<pre>
<code>&lt;span class="badge badge-gray">
  Worldwide Coverage
&lt;/span></code>
</pre>
          </div>
        </div>

        <br>
        <br>

        <div class="example-filter-row">
          <div class="text-bold">
            <h3>Sort</h3>
          </div>
          <br>
          <div class="example-badges-row example-badges-row-bottom">
            <div class="example-column">
              <div class="text-red text-bold">
                Descending
              </div>
              <div>
                <span class="badge badge-primary">
                  Network: A-Z
                  <i class="fa-solid fa-arrow-up"></i>
                </span>
                <span class="badge badge-primary">
                  Price: High-Low
                  <i class="fa-solid fa-arrow-up"></i>
                </span>
                <span class="badge badge-primary">
                  Name: A-Z
                  <i class="fa-solid fa-arrow-up"></i>
                </span>
              </div>
            </div>
        
            <div class="example-column">
              <div class="text-red text-bold">
                Ascending
              </div>
              <div>
                <span class="badge badge-primary">
                  Network: A-Z
                  <i class="fa-solid fa-arrow-down"></i>
                </span>
                <span class="badge badge-primary">
                  Price: High-Low
                  <i class="fa-solid fa-arrow-down"></i>
                </span>
                <span class="badge badge-primary">
                  Name: A-Z
                  <i class="fa-solid fa-arrow-down"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="example-html example-columns rounded">
          <div>
<pre>
<code>&lt;span class="badge badge-primary">
  Network: A-Z
  &lt;i class="fa-solid fa-arrow-up">&lt;/i>
&lt;/span></code>
<code>&lt;span class="badge badge-primary">
  Price: High-Low
  &lt;i class="fa-solid fa-arrow-up">&lt;/i>
&lt;/span></code>
<code>&lt;span class="badge badge-primary">
  Name: A-Z
  &lt;i class="fa-solid fa-arrow-up">&lt;/i>
&lt;/span></code>
</pre>
          </div>
          <div>
<pre>
<code>&lt;span class="badge badge-primary">
  Network: A-Z
  &lt;i class="fa-solid fa-arrow-down">&lt;/i>
&lt;/span></code>
<code>&lt;span class="badge badge-primary">
  Price: High-Low
  &lt;i class="fa-solid fa-arrow-down">&lt;/i>
&lt;/span></code>
<code>&lt;span class="badge badge-primary">
  Name: A-Z
  &lt;i class="fa-solid fa-arrow-down">&lt;/i>
&lt;/span></code>
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>